.containerbox {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 5%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 2%;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: rgb(200, 200, 200);
}

.order {
    width: 20%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.date, .payment, .status, .total {
    width: 20%;
    /* border: 5px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.empty-cart {
    text-align: center;
}

.empty-cart img {
    width: 20%; /* Adjust the size as needed */
    height: 20%;
    /* border: 1px solid; */
}



.empty-cart button {
    padding: 10px 20px;
    background-color: #007bff; /* Adjust color as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 10%;
}

.empty-cart button:hover {
    background-color: #0056b3; /* Adjust color as needed */
}




.footer {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 2%;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: rgb(200, 200, 200);
}