/* Basic styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.containerbox {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.header {
    grid-row: 1;
    width: 100%;
    height: 5vh;
    z-index: 1000;
    /* border: 5px solid; */
    position: fixed;
    background-color: blue;
}

.temp{
    width: 100%;
    height: 100%;
}

.navbar {
    grid-row: 2;
    height: 25vh;
    width: 100%;
    z-index: 1000;
    /* border: 5px solid; */
     padding: 0%;
    margin: 0%;
    position: fixed;
    margin-top: 5vh;
    
}

.body {
    grid-row: 3;
    height: fit-content;
    /* border: 3px solid; */
    background-color: white;
    margin-top: 30vh;
    padding-bottom: 5%;
}

/* Optional: Styling for the router-outlet to demonstrate scrollable content */
router-outlet {
    display: block;
    height: 100%;
}

.footer {
    grid-row: 4;
    width: 100%;
    height: fit-content;
    /* border: 3px solid; */
    background-color: aqua;
}


/* For devices with a maximum width of 480px (e.g., mobile phones) */
@media (max-width: 540px) {
    .header {
        height: 10vh;
    }
    
    .navbar {
        margin-top: 10vh;
    }
    
}

/* For devices with a maximum width of 240px (e.g., mobile phones) */
@media (max-width: 320px) {
    .header {
        height: 15vh;
    }
    
    .navbar {
        margin-top: 15vh;
    }
}
