body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.containerbox {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.header {
    grid-row: 1;
    width: 100%;
    height: 5%;
    z-index: 1000;
    position: fixed;
    background-color: rgb(28, 28, 194);
    /* border: 5px solid; */
}

.temp{
    width: 100%;
    height: 100%;
}

.navbar {
    grid-row: 2;
    height: 10%;
    width: 100%;
    z-index: 1000;
    padding: 0%;
    margin: 0%;
    position: fixed;
    margin-top: 2.4%;
    background-color: aqua;
    /* border: 5px solid; */
}

.body {
    grid-row: 3;
    height: fit-content;
    background-color: white;
    margin-top: 7%;
    padding-bottom: 5%;
    /* border: 3px solid; */
}

router-outlet {
    display: block;
    height: 100%;
}

.footer {
    grid-row: 4;
    width: 100%;
    height: fit-content;
    background-color: rgb(12, 88, 88);
    /* border: 3px solid; */
}


/* -------------------------------------------------------------------------------------------------- */


/* @media (min-width:1441px ) {
    .header {
        height: 2rem;
    }
    
    .navbar {
        margin-top: 2rem;
    } 
}

@media (min-width:1121px ) and (max-width: 1440px) {
    .header {
        height: 2rem;
    }
    
    .navbar {
        margin-top: 2rem;
    } 
} */


@media (min-width:801px ) and (max-width: 1120px) {
    .header {
        height: 2rem;
    }
    
    .navbar {
        margin-top: 2rem;
    } 
}


@media (min-width:481px ) and (max-width: 800px) {
    .header {
        height: 2rem;
    }
    
    .navbar {
        margin-top: 2rem;
    } 
}


@media (min-width:321px ) and (max-width: 480px) {
    .header {
        height: 3rem;
    }
    
    .navbar {
        margin-top: 3rem;
    } 
}

@media (min-width:161px ) and (max-width:320px ) {
    .header {
        height: 5rem;
    }
    
    .navbar {
        margin-top: 5rem;
    } 
}


@media (max-width:160px ) {
    .header {
        height: 6rem;
    }
    
    .navbar {
        margin-top: 6rem;
    } 
}