/* General Styles */
.containerbox {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 50%;
    overflow: hidden;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
}

.slider img {
    width: 100%;
    height: auto;
    animation: slideIn 0.5s forwards;
}

/* Navigation dots */
.dotter {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    height: 0.8rem;
    width: 0.8rem;
    margin: 0 0.5rem;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.dot.active {
    background-color: transparent;
}


@media (max-width: 1080px) {
    .containerbox {
        height: fit-content;
        max-height: 25rem;
    }

    .slider img {
        height: 25rem;
    }
    

}


@media (max-width: 720px) {
    .containerbox {
        height: fit-content;
        max-height: 27.5rem;
    }

    .slider img {
        height: 27.5rem;
    }
    
}


/* Responsive Styles */
@media (max-width: 480px) {
    .containerbox {
        height: fit-content;
        max-height: 30rem;
    }

    .slider img {
        height: 30rem;
    }

}

