.containerbox {
    /* position: relative; */
    width: 100%;
    height: fit-content;
    max-height: 50%;
    /* overflow: hidden; */
    border: 1px solid ;
}

/* .slider img {
    display: none;
  }
  
  .slider img.active {
    display: block;
  } */


.slider img {
    width: 100%;
    height: fit-content;
    max-height: 25rem;
}

.dotter {
    text-align: center;
    margin-top: -30px;
    /* border: 2px solid; */
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 50%;
    border-color: white;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.dot.active {
    background-color: transparent;
}
