<p>ginniimageslider works!</p>
<!-- <div class="containerbox">
    <div class="imageone">
        <a href="#"><img src="../../assets/images/slider/1.png" alt="GINNI DryFruits"></a> 
    </div>

    <div class="imagetwo">
        <a href="#"><img src="../../assets/images/slider/2.png" alt="GINNI DryFruits"></a>
    </div>

    <div class="imagethree">
        <a href="#"><img src="../../assets/images/slider/3.png" alt="GINNI DryFruits"></a>
    </div>

    <div class="imagefour">
        <a href="#"><img src="../../assets/images/slider/4.png" alt="GINNI DryFruits"></a>
    </div>

    <div class="imagefive">
        <a href="#"><img src="../../assets/images/slider/5.png" alt="GINNI DryFruits"></a>
    </div>
</div> -->



  