.containerbox {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  padding: 0% 3%;
  margin: 0%;
  /* border: 1px solid; */
}

.upper {
  width: 100%;
  height: fit-content;
  padding: 2% 0%;
  margin: 0%;
  /* border: 1px solid; */
}

.upperleft {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
}

.lower {
  width: 100%;
  height: 30vh;
  padding: 0%;
  margin: 0%;
  /* border: 1px solid rgb(200, 200, 200); */
  border-radius: 5px;
  overflow-x: auto; 
  white-space: nowrap; 
}


.images-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.5s ease;
  /* border: 2px solid; */
}

.video-container {
  flex: 1;
  margin: 0 5px; 
}

iframe {
  width: 100%;
  height: 100%;
}


.images-wrapper a {
  flex: 0 0 auto;
  width: calc(100% / 5); /* Adjust this based on the number of visible posts */
  text-align: center;
  overflow: hidden; /* Ensure the image doesn't overflow its container */
}

.images-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
  /* border: 1px solid; */
  transform-origin: center; /* Ensures the image scales from the center */
  padding: 2%;
  border-radius: 5%;
}

.images-wrapper img:hover {
  transform: scale(1.05); /* Scale up the image on hover */
  border: 1px solid ; /* Add your desired highlighting style */
}



.arrow {
  position: absolute;
  top: 70%;
  transform: translateY(-70%);
  font-size: x-large;
  color: black;
  cursor: pointer;
}

.left-arrow {
  left: 0.25rem;
  /* border: 1px solid; */
}

.right-arrow {
  right: 0.25rem;
}

.arrow i {
  background-color: transparent; 
  transition: background-color 0.1s; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 2rem;   
  height: 2rem; 
  color: inherit; 
}

/* Change the color of the icon on hover */
.arrow i:hover {
  background-color: #1d36aa


; 
  color: white;
}

.arrow.blur {
  opacity: 1;
  pointer-events: none;
  filter: blur(1px);
}



@media (max-width: 1080px) {
  /* .images-wrapper img {
    height: 15rem;
  } */

  .arrow {
    font-size: 20px;
  }
}


@media (max-width: 720px) {
  /* .images-wrapper img {
    height: 10rem;
  } */

  .arrow {
    font-size: 16px;
  }
}

/* Responsive Styles */
@media (max-width: 480px) {
  .arrow {
    font-size: 12px;
  }

  .upperleft h1 {
    font-size: medium;
  }

  .video-container {
    flex: 1;
    margin: 0 2.5px; 
  }
  
  .lower {
    height: 12.5vh;
  }

  .arrow {
    display: none;
  }
}

