<div class="containerbox">
    <div class="header">
        <div class="headerdate">
            <p><b><i class='fa fa-angle-left' style='font-size:24px; margin-right:15px;'></i>Back to Orders</b></p>
            <h6>April 24, 2024 at 12:14pm</h6>
        </div>
        <br>
        <div class="headerorder">
            <h1> Order #Ginni160146</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="middle">
        <div class="middleheading">
            <div class="middleheadingleft">
                <h5>Product</h5>
            </div>
            <div class="middleheadingright">
                <h5>Quantity</h5>
                <h5>Total</h5>
            </div>
        </div>
        <div class="middledata">
            <div class="middledataleft">
                <div class="middledataleftimage">
                    <img src="../../assets/images/logo/cashew.jpeg" alt="Almond">
                </div>

                <div class="middledataleftname">
                    <h5><a routerLink="/main/ginniproducts">Dried Apricots (200 g)</a></h5>               
                    <!-- <h5>Dried Apricots (200 g) & Dried Cranberry (200 g)</h5> -->
                    <br>
                    <h6>Rs. 549.00</h6>
                </div>
            </div>
            <div class="middledataright">
                <p><b>1</b></p>
                <p><b>Rs. 1000</b></p>
            </div>
        </div>
        <div class="middlefooting">
            <div class="middlefootingleft">
            </div>
            <div class="middlefootingright">
                <div class="middlefootingrightsubtotal">
                    <p>SubTotal</p>
                    <p>Rs. 1000</p>
                </div>
                <hr>
                <div class="middlefootingrightshipping">
                    <p>Shipping (Prime)</p>
                    <p>Rs. 100</p>
                </div>
                <hr>
                <div class="middlefootingrighttax">
                    <p>Tax included (IGST 12.0%)</p>
                    <p>Rs. 10</p>
                </div>
                <hr>
                <div class="middlefootingrighttotal">
                    <h6>Total</h6>
                    <p>Rs. 1000</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <div class="footerleft">
            <h5>Billing Address</h5>
            <br>
            <p>Aayush Agrawal</p>
            <p>NURSINGH COLONY</p>
            <p>322201 Gangapur RJ</p>
            <p>India</p>
        </div>

        <div class="footerright">
            <h5>Shipping Address</h5>
            <br>
            <p>Aayush Agrawal</p>
            <p>NURSINGH COLONY</p>
            <p>322201 Gangapur RJ</p>
            <p>India</p>
        </div>
    </div>
</div>