<div class="containerbox" >
    <div class="header">
        <div class="headerdate">
            <a routerLink="/main/ginniorder"><p style="cursor: pointer; text-decoration: none;"><b><i class='fa fa-angle-left' style='font-size:24px; margin-right:15px;'></i>Back to Orders</b></p></a>
            <h6>{{ orderDetails[0].orderDate | date:'MMMM d, y \'at\' h:mm a' }}</h6>
        </div>
        <br>
        <div class="headerorder">
            <h1>{{orderDetails[0].orderId}}</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="middle" >
        <div class="middleheading">
            <div class="middleheadingleft">
                <h5>Product</h5>
            </div>
            <div class="middleheadingright">
                <h5>Quantity</h5>
                <h5>Total</h5>
            </div>
        </div>

        <div class="middledata" *ngFor ="let item of orderDetails"> 
            <div class="middledataleft">
                <div class="middledataleftimage">
                    <img [src]="item.productImage" alt="Almond">
                </div>

                <div class="middledataleftname">
                    <h5><a [routerLink]="['/main/ginnimainproduct', orderDetails.productName]">{{item.productName}}</a></h5>               
                    <!-- <h5>Dried Apricots (200 g) & Dried Cranberry (200 g)</h5> -->
                    <br>
                    <h6>Rs. {{item.productAmount}}</h6>
                </div>
            </div>
            <div class="middledataright">
                <p><b>{{item.productCount}}</b></p>
                <p><b>Rs. {{item.totalAmount}}</b></p>
            </div>
        </div>

        <div class="middlefooting">
            <div class="middlefootingleft">
            </div>
            <div class="middlefootingright">
                <div class="middlefootingrightsubtotal">
                    <p>SubTotal</p>
                    <p>Rs. {{ calculateTotalAmount(orderDetails) }}</p>
                </div>
                <hr>
                <div class="middlefootingrightshipping">
                    <p>Shipping (Prime)</p>
                    <p>Rs. {{shippingPrice}}</p>
                </div>
                <hr>
                <div class="middlefootingrighttax">
                    <p>Tax included (IGST 12.0%)</p>
                    <p>Rs. {{ calculateTax(calculateTotalAmount(orderDetails)) }}</p>
                </div>
                <hr>
                <div class="middlefootingrighttotal">
                    <h6>Total</h6>
                    <p>Rs. {{ calculateTotalAmountWithTax(orderDetails) }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <div class="footerleft">
            <h5>Billing Address</h5>
            <br>
            <p>Aayush Agrawal</p>
            <p>NURSINGH COLONY</p>
            <p>322201 Gangapur RJ</p>
            <p>India</p>
        </div>

        <div class="footerright">
            <h5>Shipping Address</h5>
            <br>
            <p>Aayush Agrawal</p>
            <p>NURSINGH COLONY</p>
            <p>322201 Gangapur RJ</p>
            <p>India</p>
        </div>
    </div>
</div>