<div class="containerbox"  *ngIf="orderDetails && orderDetails.length > 0">
    <div class="header">
        <div class="headerdate">
            <a routerLink="/account/order">
                <p style="cursor: pointer; text-decoration: none;">
                    <b><i class='fa fa-angle-left' style='font-size:24px; margin-right:15px;'></i>
                        Back to Orders
                    </b>
                </p>
            </a>
            <h6>{{ orderDetails[0].orderDate | date:'MMMM d, y \'at\' h:mm a' }}</h6>
        </div>
        <br>
        <div class="headerorder">
            <h1>{{orderDetails[0].orderId}}</h1>
        </div>
    </div>
    <br>
    <div class="middle" >
        <div class="middleheading">
            <div class="middleheadingleft">
                <h5>Product</h5>
            </div>
            <div class="middleheadingright">
                <h5>Quantity</h5>
                <h5>Total</h5>
            </div>
        </div>

        <div class="middledata" *ngFor ="let item of orderDetails"> 
            <div class="middledataleft">
                <div class="middledataleftimage">
                    <!-- <img [src]="item.imageData" alt="Almond"> -->
                    <img [src]="'../../assets/images/product_Images/' + item.productName  +1+ '.jpg'" alt="GINNI">
                </div>

                <div class="middledataleftname">
                    <h5><a  [routerLink]="['/mainproduct', item.productName]">{{item.productName | titlecase}}</a></h5>               
                    <h6> &#x20B9;  {{item.price}}</h6>
                </div>
            </div>
            <div class="middledataright">
                <p>{{item.productCount}}</p>
                <p> &#x20B9; {{item.totalAmount}}</p>
            </div>
        </div>

        <div class="middlefooting">
            <div class="middlefootingleft">
            </div>
            <div class="middlefootingright">
                <div class="middlefootingrightsubtotal">
                    <p>SubTotal</p>
                    <p> &#x20B9; {{ calculateTotalAmount(orderDetails) }}</p>
                </div>
                <hr>
                <div class="middlefootingrightshipping">
                    <p>Shipping (Prime)</p>
                    <p> &#x20B9; {{shippingPrice}}</p>
                </div>
                <hr>
                <div class="middlefootingrighttax">
                    <p>Tax included (IGST 12.0%)</p>
                    <p> &#x20B9; {{ calculateTax(calculateTotalAmount(orderDetails)) }}</p>
                </div>
                <hr>
                <div class="middlefootingrighttotal">
                    <h6>Total</h6>
                    <p><b>&#x20B9; {{ calculateTotalAmountWithTax(orderDetails) }}</b></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <div class="footerleft">
            <h5>Billing Address</h5>
            <br>
            <p>Aayush Agrawal</p>
            <p>NURSINGH COLONY</p>
            <p>322201 Gangapur RJ</p>
            <p>India</p>
        </div>

        <div class="footerright">
            <h5>Shipping Address</h5>
            <br>
            <p>Aayush Agrawal</p>
            <p>NURSINGH COLONY</p>
            <p>322201 Gangapur RJ</p>
            <p>India</p>
        </div>
    </div>
</div>