.addresspopup {
    width: 40%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.popup {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.popuphead {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.popupheadleft {
    width: 95%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.popupheadright {
    width: 5%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.close-icon {
    cursor: pointer;
    font-size: 30px;
    color: #000000;
    /* border: 1px solid; */
}




.popupdown {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 6px solid; */
}

.popup form {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* border: 5px solid; */
}

.form-group input[type="text"] {
    width: 100%; /* Adjust width as needed */
    padding: 2%; /* Adjust padding as needed */
    border-radius: 10px;
}

.form-group input[type="checkbox"] {
    margin-right: 15px; /* Adjust the right margin as needed */
	transform: scale(1.5); /* Adjust the scale factor as needed */
}

.popupdown button {
    width: 100%; /* Adjust width as needed */
    padding: 2%; /* Adjust padding as needed */
    border-radius: 10px;
    background-color: aquamarine;
}