<div class="containerbox">
    <div class="heading">
        <h1><b>Contact Us</b></h1>
        <br>
        <p><b>We would love to hear from you!</b>
            <br>
            <b>Feel free to get in touch with us!</b>
        </p>
    </div>

    <div class="paragraph">
        <div class="contact">
            <h6>Email Us:</h6>
            <p>admin&#64;ginnidryfruits.com / ginnidryfruits&#64;gmail.com / wecare&#64;ginnidryfruits.com</p>
        </div>
      
        <div class="contact">
            <h6>Visit Us at Our Address:</h6>
            <p>Plot No. 177, Sector-5, BIDA, Bhiwadi-301019, Rajasthan, INDIA</p>
        </div>
       
        <div class="contact">
            <h6>For Bulk Orders Related Queries:</h6>
            <p>+91 8740908546 / +91 7877976611</p>
        </div>    

        <div class="contact">
            <h6>For Quality & Supply Related Queries:</h6>
            <p>+91 8740908546 / +91 7877976611</p>
        </div>  

        
        <div class="contact">
            <h6>For Whatsapp & Offline Order Queries:</h6>
            <p>+91 8740908546 / +91 7877976611</p>
        </div>  

        <div class="contact">
            <h6>For Join our Ginni Wholesale Channel:</h6>
            <p>+91 8740908546 / +91 8058565555</p>
        </div>  
        
        <br>

        <p>We value your feedback and are always available to assist with any queries or concerns. 
            Reach out to us anytime, and our dedicated team will ensure you receive top-notch support.
            <br><br>
            At Ginni Dry Fruits, our mission is to offer premium-quality dry fruits along with exceptional customer service. 
            Whether it's product inquiries, bulk orders, or supply-related questions, we're just a call or email away.
            <br><br>
            Our team is committed to delivering the best experience possible. 
            If you have any questions about our products, need help, or want to provide feedback, don't hesitate to contact us. 
            We’re here to help and look forward to assisting you!</p>
            
    </div>
</div>
