<div class="containerbox">
    <div class="heading">
        <h1><b>CONTACT US</b></h1>
        <br>
        <p><u>We would love to hear from you!</u>
            <br>
            <u>Feel free to get in touch with us!</u>
        </p>
    </div>

    <div class="paragraph">
        <div class="contact">
            <h6>Email:</h6>
            <p>admin&#64;ginnidryfruits.com / wecare&#64;ginnidryfruits.com</p>
        </div>
      
        <div class="contact">
            <h6>Address:</h6>
            <p>Plot No. 177, Sector-5, BIDA, Bhiwadi-301019, Rajasthan, INDIA</p>
        </div>
       
        <div class="contact">
            <h6>For Bulk Order Related Queries:</h6>
            <p>+918740908546 / +917877976611</p>
        </div>    

        <div class="contact">
            <h6>For Quality and Supply Related Queries:</h6>
            <p>+917240070004</p>
        </div>  

        
        <div class="contact">
            <h6>For Whatsapp/Offline Order Queries:</h6>
            <p>+918005560303</p>
        </div>  

        <div class="contact">
            <h6>For Joining Ginni Wholesale Channel:</h6>
            <p>+918058565555</p>
        </div>  
        
        <br>

        <p>Our team is dedicated to providing you with the best service possible. 
            Whether you have a question about our products, need assistance, 
            or just want to share your feedback then
            reach out to us anytime, and we we'll be happy to assist you!</p>
    </div>
</div>
