<div class="containerbox">
    <div class="header">
        <div class="product">
            <div class="left"> 
                <div class="leftimagesbox">
                    <!-- Thumbnail images -->
                    <div class="column" >
                       <div  *ngFor="let index of [1, 2, 3, 4, 5, 1, 2]; let i = index">
                            <img 
                            class="demo cursor" 
                            [src]="'../../assets/images/product_Images/' + productDetails.productName + index + '.jpg'" 
                            [ngClass]="{'selected': index === selectedImageIndex + 1}" 
                            (click)="currentSlide(index)" 
                            alt="Ginni">
                        </div>
                    </div>
    
                    <!-- Main slideshow images -->
                    <div class="slideshow-container">
                        <div class="mySlides" *ngFor="let index of [1, 2, 3, 4, 5]; let i = index"  [style.display]="i === slideIndex - 1 ? 'block' : 'none'">
                            <img [src]="'../../assets/images/product_Images/' + productDetails.productName + index + '.jpg'" >
                        </div>
                    </div>           
                </div>
            </div>
    
            <div class="right" *ngIf="productDetails">
                <div class="rightupper">
                    <h1>{{ productDetails.productName | titlecase}}  ({{productDetails.weight}})</h1>
                    <!-- <h6>Save Rs.{{ productDetails.discount }}</h6> -->
                </div>
                <div class="rating">
                    <div class="star-rating">
                        <i *ngFor="let star of stars; let i = index"
                            class="fa"
                            [ngClass]="{
                            'fa-star': productDetails.rating >= i + 1,
                            'fa-star-half-o': productDetails.rating > i && productDetails.rating < i + 1,
                            'fa-star-o': productDetails.rating < i + 1
                            }">
                        </i>
                      </div>
                    <h6>{{ productDetails.rating | number:'1.1-1' }}</h6>
                    <p>({{productDetails.userRating}} reviews)</p>
                </div>
                <br>
                <div class="rightmiddle">
                    <div class="rightmiddlemrp">
                        <h6>M.R.P</h6>
                        <div class="rightmiddlemrpoff">
                            <p>&#x20B9; {{ productDetails.price }}</p>
                            <h6>{{ (productDetails.discount / productDetails.price) * 100 | number:'1.0-0' }}% off</h6>
                        </div>
                     
                    </div>

                    <div class="rightmiddleoffer">
                        <h6>Offer Price:</h6>
                        <p><b>&#x20B9; {{ productDetails.discountedPrice }}</b> (incl. of all taxes)</p>
                    </div>

                    <div class="rightmiddlequantity">
                        <h6>Quantity:</h6>
                        <div class="rightmiddlebox">
                            <div class="rightmiddlequantitybox">
                                <h1 (click)="decrementQuantity()" ><b>-</b></h1>
                                <h6>{{ quantity }}</h6>
                                <h1 (click)="incrementQuantity()"> <b>+</b></h1>
                            </div>
                        </div>
                    </div>

                    <div class="rightmiddletotal">
                        <h6>Total Price:</h6>
                        <p><b>&#x20B9; {{getTotalPrice()}}</b> (incl. of all taxes)</p>
                    </div>
                </div>
    
                <div class="rightlower">
                    <button (click)="addToCart(productDetails)">Add to Cart</button>
                    <button (click)="initiatePayment()">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="description">
            <h4>Description</h4>
            <p>{{ productDetails.description }}</p>
        </div>
    </div>



    <div class="footer">
        <div class="upper">
            <div class="upperleft">
                <h3>You May also Like</h3>
            </div>
        </div>

        <div class="lower">
            <div class="almond" *ngFor="let item of productlist">
                <div class="image">
                    <div class="saving">
                        <h6>{{ item.discount }}</h6>
                        <h6>{{ item.subcategory }}</h6>
                    </div>
                    <img [src]="'../../assets/images/product_Images/' + item.productName + 1 + '.jpg'" alt="GINNI">
                </div>
            
                <div class="naming">
                    <a href=""><h5>{{ item.productName }}</h5></a>
                </div>
            
                <div class="pricing">
                    <h5>Rs {{ item.price }}</h5>
                </div>

                <div class="carting">
                    <button (click)="addToCart(item)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>