<div class="containerbox">
    <div class="header">
        <div class="left">
            <div class="leftimagesbox">
                <img class="main-image" src="../../assets/images/slider/1.png" alt="Main Image">
                <div class="thumbnail-container">
                  <img class="thumbnail" src="../../assets/images/slider/1.png" alt="Thumbnail 1">
                  <img class="thumbnail" src="../../assets/images/slider/2.png" alt="Thumbnail 2">
                  <img class="thumbnail" src="../../assets/images/slider/3.png" alt="Thumbnail 3">
                  <img class="thumbnail" src="../../assets/images/slider/4.png" alt="Thumbnail 4">
                  <img class="thumbnail" src="../../assets/images/slider/1.png" alt="Thumbnail 5">
                </div>
            </div>
            <!-- <div class="w3-content" style="max-width:1200px">
                <img class="mySlides" src="../../assets/images/slider/1.png" style="width:100%">
                <img class="mySlides" src="../../assets/images/slider/2.png" style="width:100%">
                <img class="mySlides" src="../../assets/images/slider/3.png" style="width:100%">
              
                <div class="w3-row-padding w3-section">
                  <div class="w3-col s4">
                    <img class="demo w3-opacity" src="../../assets/images/slider/1.png"
                    style="width:100%" onclick="currentDiv(1)">
                  </div>
                  <div class="w3-col s4">
                    <img class="demo w3-opacity" src="../../assets/images/slider/2.png"
                    style="width:100%;display:none" onclick="currentDiv(2)">
                  </div>
                  <div class="w3-col s4">
                    <img class="demo w3-opacity" src="../../assets/images/slider/3.png"
                    style="width:100%;display:none" onclick="currentDiv(3)">
                  </div>
                </div>
              </div> -->
    
            <div class="leftdescription">
                <h4>Description</h4>
                <br>
                <br>
                <p>Farmley is a dry-fruits & nuts specialist. We have built deep back-end linkages with 5000+ farmers & producers over the years, in order to provide adulteration free products. We blend health & taste in each new product that we curate by undergoing creative innovation and R&D. We are a full-stack brand offering 150+ products, bringing forth everything one can imagine under the umbrella of dry-fruits & nuts.
    
                    Peri Peri Party Mix Composition: Black Raisins, Pumpkin Seeds, Peanuts, Almonds, Cashews & Sunflower Seeds
                    
                    Benefits Of Peri Peri Party Mix
                    
                    Customised: Peri-Peri Party Mix is a great option for on-the-go snacking. It’s specially curated composition adds diversity to your diet.
                    High In Protein: Peri-Peri Party Mix contains nuts & seeds that are high in protein. Protein is an important nutrient essential for muscle growth, tissue repair, immune health, and more. Eating more protein may also help support weight loss by reducing your appetite and enhancing feelings of fullness.
                    Good Source Of Heart Healthy Fats: The nuts and seeds in Peri-Peri Party Mix are rich in heart healthy fats, including poly and monounsaturated fatty acids. Unsaturated fats decrease bad cholesterol levels- a risk factor for heart disease. These nuts & seeds are also high in omega-3 fatty acids, which help reduce inflammation and protect against various chronic health conditions.
                    Panchmeva Composition: Almonds, Cashews, Dates, Green Raisins & Black Raisins
                    
                    Benefits Of Panchmeva
                    
                    Rich In Fiber: Fiber can benefit your digestive health by preventing constipation. It promotes regular bowel movements by contributing to the formation of stool.
                    High In Antioxidants: Antioxidants protect your cells from free radicals, which are unstable molecules that may cause harmful reactions in your body & lead to diseases.
                    Promotes Brain Health: It is helpful for reducing the activity of harmful proteins, which can form plaques in the brain. When plaques accumulate in the brain, they may disturb communication between brain cells, which can ultimately lead to brain cell death and Alzheimer’s disease.
                    Promotes Natural Labour: Eating Panchmeva throughout the last few weeks of pregnancy may promote cervical dilation and lower the need for induced labour. It may also be helpful in reducing labour time.
                    Promotes Bone Health: Full of several minerals, including phosphorus, calcium, & magnesium. All of these are known for their potential to prevent bone-related conditions like osteoporosis.
                    Aids Digestion: Panchmeva contains helpful soluble fibers, which may help improve digestion and promote regularity.
                    Helps Prevent Anaemia: It contains good amounts of iron, copper & vitamins that are essential for making red blood cells and carrying oxygen throughout the body.
                    Lowers The Risk Of Heart Diseases: Eating dry-fruits regularly may help reduce cardiovascular risk factors, such as blood pressure rate.
                    Reduce Bad Cholesterol Levels: Research proves that consuming foods like Panchmeva that are rich in soluble fiber, helps in reducing bad cholesterol levels.
                    Panchmeva Increases Mental Alertness: When mixed with milk it becomes rich in potassium. This is one of the main minerals that boost the number of electrolytes in your body, thus providing the body with more energy. When there is a boost in electrolytes, your memory flow also increases.
                     
                    
                    MRP (Inc. of all taxes) : 1068.00
                    
                    Offer Price : 899.00
                    
                    Processed, Packed & Marketed by : Connedit Business Solutions Pvt. Ltd. Khasra No. 17/2/2 & 3, 51/1/2 Kaji Palasiya, Indore Madhya Pradesh - 452001
                </p>
            </div>
        </div>
    
        <div class="right" *ngIf="productDetails"> 
            <div class="rightupper" >
                <h1>{{ productDetails.productName }}</h1>
                <br>
                <h6>Save Rs.{{ productDetails.discount }}</h6>
            </div>
    
            <div class="rightmiddle">
                <div class="rightmiddlemrp">
                    <h6>M.R.P</h6>
                    <p><del>Rs. {{ productDetails.price }}</del></p>
                </div>
                <br>
                <div class="rightmiddleoffer">
                    <h6>Offer Price:</h6>
                    <p><b>Rs. {{ productDetails.price - productDetails.discount  }}</b> (incl. of all taxes)</p>
                </div>
                <br>
                <div class="rightmiddlequantity">
                    <h6>Quantity:</h6>
                    <div class="rightmiddlebox">
                        <div class="rightmiddlequantitybox" >                       
                            <i class="fa fa-minus" (click)="decrementQuantity(productDetails)"></i>
                            <h6>{{productDetails.quantity}}</h6>
                            <i class="fa fa-plus" (click)="incrementQuantity(productDetails)"></i>
                        </div>
                    </div>          
                </div>
                <br>
                <div class="rightmiddletotal">
                    <h6>Total Price:</h6>
                    <p><b>Rs. {{getTotalPrice()}}</b> (incl. of all taxes)</p>
                </div>
            </div>
    
            <div class="rightlower">
                <button (click)="addToCart(productDetails)">Add to Cart</button>
                <button (click)="initiatePayment()">Buy Now</button>
            </div>
        </div>
    </div>




    <div class="footer">
        <div class="upper">
            <div class="upperleft">
                <h3>You May also Like</h3>
            </div>
        </div>
    
        <div class="lower">
            <div class="almond" *ngFor = "let item of productlist">
                <div class="image">
                    <div class="saving">
                        <h6>{{ item.discount }}</h6>
                        <i class="fa fa-heart-o" (click)="addToWishlist(item)"    *ngIf="!item.wishlistStatus"  style="font-size:24px" ></i>
                        <i class="fa fa-heart" (click)="removeToWishlist(item)"   *ngIf="item.wishlistStatus"  style="font-size:24px"></i>
                    </div>
                    <img src="../../assets/images/logo/almond.jpeg" alt="Almond">               
                </div>
            
                <div class="naming">
                    <a href=""><h5>{{ item.productName }}</h5></a>
                </div>
            
                <div class="pricing">
                    <h5>Rs {{ item.price }}</h5>
                </div>
            
                <div class="carting">
                    <button (click)="addToCart(item)">Add to Cart</button>
                </div>
            </div>     
        </div>
    </div>
</div>