.containerbox {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.upper {
    width: 100%;
    height: fit-content;
    padding: 2% 5%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid; */
    align-items: center;
}

.header {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.button{
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: right;
    /* border: 1px solid; */
    
}

button {
    width: fit-content;
    height: fit-content;
    padding: 2%;
    margin: 0%;
    border-radius: 10px;
    background-color: #1d36aa


;
    color: antiquewhite;
    border: 1px solid aliceblue;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it's above other content */
}

.productpopup {
    position: fixed;
    width: 40%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(235, 227, 227);
    padding: 1%;
    border-radius: 8px;
    /* border: 1px solid; */
    z-index: 1000; /* Ensure it's above the overlay */
    max-height: 75%; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}


.popup {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.popuphead {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.popupheadleft {
    width: 95%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.popupheadright {
    width: 5%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.close-icon {
    cursor: pointer;
    font-size: 30px;
    color: #000000;
    /* border: 1px solid; */
}

.popupdown {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 6px solid; */
}

.popup form {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* border: 5px solid; */
}

.form-group input[type="text"] {
    width: 100%; /* Adjust width as needed */
    padding: 2%; /* Adjust padding as needed */
    border-radius: 10px;
}

.form-group input[type="number"] {
    width: 100%; /* Adjust width as needed */
    padding: 2%; /* Adjust padding as needed */
    border-radius: 10px;
}

.form-group textarea {
    width: 100%; /* Adjust width as needed */
    padding: 2%; /* Adjust padding as needed */
    border-radius: 10px;
    /* Add any other styling as needed */
  }
  

/* Style for the select tag */
.form-group select {
    width: 100%; /* Adjust width as needed */
    padding: 8px; /* Adjust padding as needed */
    border-radius: 10px;
    border: 1px solid #ccc; /* Border style */
    background-color: #fff; /* Background color */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
    /* Add more styles as needed */
  }
  
  /* Style for the validation message */
  .form-group .text-danger {
    color: red; /* Error message text color */
    font-size: 14px; /* Error message font size */
    margin-top: 4px; /* Adjust margin as needed */
  }

.popupdown button {
    width: 100%; /* Adjust width as needed */
    padding: 2%; /* Adjust padding as needed */
    border-radius: 10px;
    background-color: aquamarine;
}






.lower {
    width: 100%;
    height: fit-content;
    padding: 2% 5%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    align-items: center;
}

table{
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    /* border: 5px solid; */
}

img {
    height: 10%;
    width: 10%;
}

table th {
    border: 1px solid rgb(122, 143, 31);
    padding: 1%;
    margin: 0%;
    width: fit-content;
    height: fit-content;
}

table td {
    border: 1px solid blueviolet;
    padding: 1%;
    margin: 0%;
    width: fit-content;
    height: fit-content;
}

td button {
    width: 100%;
    height: fit-content;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
}


.heading {
    width: 100%;
    height: 100%;
    padding: 1% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(200, 200, 200);
  }
  
  .heading h6 {
    padding: 0%;
    margin: 0%;
    color: #1d36aa


;
  }

  .headerserial {
    width: 5%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  
  .headername {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  
  .headeremail {
    width: 15%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  
  .headermobile {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }

  .headerorderId {
    width: 20%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  
  .headerorderdate {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  
  .headeramount {
    width: 5%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }

  .headertransaction {
    width: 15%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  
  .footing {
    width: 100%;
    height: 100%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(200, 200, 200);
  }
  
  .footing p {
    margin: 0%;
    padding: 0%;
  }
  
   
  .footerserial {
    width: 5%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footername {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

    word-break: break-all; /* Ensures the text breaks within words */
    overflow-wrap: break-word; /* Ensures long words are broken */
    text-align: center; /* Optional: Center-aligns the text inside */  
}
  
  .footeremail {
    width: 15%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all; /* Ensures the text breaks within words */
    overflow-wrap: break-word; /* Ensures long words are broken */
    text-align: center; /* Optional: Center-aligns the text inside */
}
  
  .footermobile {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all; /* Ensures the text breaks within words */
    overflow-wrap: break-word; /* Ensures long words are broken */
    text-align: center; /* Optional: Center-aligns the text inside */
  }

  .footerorderId {
    width: 20%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all; /* Ensures the text breaks within words */
    overflow-wrap: break-word; /* Ensures long words are broken */
    text-align: center; /* Optional: Center-aligns the text inside */
  }
  
  .footerorderdate {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all; /* Ensures the text breaks within words */
    overflow-wrap: break-word; /* Ensures long words are broken */
    text-align: center; /* Optional: Center-aligns the text inside */
  }
  
  .footeramount {
    width: 5%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all; /* Ensures the text breaks within words */
    overflow-wrap: break-word; /* Ensures long words are broken */
    text-align: center; /* Optional: Center-aligns the text inside */  }

  .footertransaction {
    width: 15%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all; /* Ensures the text breaks within words */
    overflow-wrap: break-word; /* Ensures long words are broken */
    text-align: center; /* Optional: Center-aligns the text inside */
  }
  