.containerbox {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 2%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 25%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .form-group {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative; 
}

.form-group input {
    width: 100%;
    height: fit-content;
    padding: 2%;
    margin: 0%;
    display: flex;
    border-radius: 10px;
    border-color:  #0066b2;
} */


.password-container {
    display: flex;
    align-items: center;
    position: relative;
}


.floating-label-group .text-danger {
    color: red;
    font-size: smaller; 
    margin-top: 0px; 
    margin-bottom: 25px;
  } 

.row {
    width: 100%;
    margin: 0;
  }
  
  .col-xs-4 {
    width: 100%;
    padding: 0;
  }
  
  
  .floating-label-group {
    position: relative;
    margin-top: 25px;
    width: 100%;
    padding: 0;
  }
  
  .floating-label-group input,
  .floating-label-group textarea,
  .floating-label-group select {
    width: 100%;
    padding: 1%;
    margin: 0;
    border: 1px solid #0066b2;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .floating-label {
    font-size: medium;
    color: grey;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
  }
  
  .floating-label-group input:focus ~ .floating-label,
  .floating-label-group textarea:focus ~ .floating-label,
  .floating-label-group select:focus ~ .floating-label
  {
    top: -10px;
    left: 0px;
    font-size: medium;
    font-weight: bold;
    color: #0066b2;
  }
  

.floating-label-group input:valid ~ .floating-label,
.floating-label-group select:valid ~ .floating-label,
.floating-label-group textarea:valid ~ .floating-label 
{
  top: -10px;
  left: 0px;
  font-size: small;
  font-weight: bold;
  color: #0066b2;
}
  .floating-label-group input.ng-invalid.ng-touched ~ .floating-label,
  .floating-label-group textarea.ng-invalid.ng-touched ~ .floating-label,
  .floating-label-group select.ng-invalid.ng-touched ~ .floating-label {
    top: -10px;
    left: 0px;
    font-size: small;
    font-weight: bold;
    color: #0066b2;
  }





button {
    width: 100%;
    height: fit-content;
    padding: 2%;
    margin: 5%;
    margin-bottom: 0%;
    display: flex;
    border-radius: 10px;
    background-color: #0066b2;
    justify-content: center;
    color: aliceblue;
}

.footer {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.password-toggle-icon {
    position: absolute; /* Position the icon relative to the parent container */
    top: 50%; /* Align the icon vertically */
    right: 10px; /* Adjust the right position as needed */
    transform: translateY(-50%); /* Center the icon vertically */
    z-index: 1; /* Ensure the icon is above the input field */
    cursor: pointer; /* Set cursor to pointer for better UX */
}

/* Adjust the icon size and styles as needed */
.fa {
  font-size: 20px;
  color: #555; /* Adjust the icon color */
}



  /* For devices with a minimum width of 1080px (e.g., desktops) */
  @media (max-width: 1080px) {
    .header h1 {
        font-size: x-large;
    }
    .header p {
        font-size: small;
    }

    form {
        width: 50%;
    }
    
    .form-group input {
        padding: 1%;
        border-radius: 10px;
    }

    .fa {
        font-size: 14px;
        color: #555; /* Adjust the icon color */
    }

    
    button {
        padding: 1%;
        margin: 5%;
    }

    .footer p {
        font-size: small
    }
}


  /* For devices with a maximum width of 720px (e.g., tablets) */
@media (max-width: 720px) {
    .header h1 {
        font-size: larger;
    }
    .header p {
        font-size: smaller;
    }

    form {
        width: 50%;
    }
    
    .form-group input {
        padding: 1%;
        border-radius: 10px;
    }

    .fa {
        font-size: 14px;
        color: #555; /* Adjust the icon color */
    }

    
    button {
        padding: 1%;
        margin: 5%;
    }

    .footer p {
        font-size: smaller
    }
}


/* For devices with a maximum width of 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    .header {
        height: fit-content;
    }
    .header h1 {
        font-size: large;
    }
    .header p {
        font-size: x-small;
    }

    form {
        width: 75%;
    }
    
    .form-group input {
        padding: 1%;
        border-radius: 10px;
    }

    .fa {
        font-size: 14px;
        color: #555; /* Adjust the icon color */
    }

    
    button {
        padding: 1%;
        margin: 5%;
    }

    .footer p {
        font-size: x-small
    }
    
}

  