<div class="containerbox">
    <div class="header">
        <h1>Create my Account</h1>
        <p>Create an account to personalize</p>
    </div>

    <div class="form">
        <div class="fname">
            <input type="text" placeholder="First Name" id="fname">
        </div>
        
        <div class="lname">
            <input type="text" placeholder="Last Name" id="lname">
        </div>

        <div class="mobile">
            <input type="tel"  placeholder="Mobile" id="mobile">
        </div>

        <div class="email">
            <input type="email" placeholder="Email" id="email">
        </div>

        <div class="password">
            <input type="password" placeholder="Password" id="password">
        </div>

        <div class="cpassword">
            <input type="password" placeholder="Confirm Password" id="cpassword">
        </div>

        <div class="buttons">
            <button type="submit"><h3>Sign Up</h3></button>
        </div>
    </div>

    <div class="footer">
        <p>Already have an account? <a href="#">Login here</a></p>
    </div>
</div>