<div class="containerbox">
    <div class="header">
        <h1>Create my Account</h1>
        <p>Create an account to personalize</p>
    </div>

    <br>

    <form [formGroup]="signupForm" (ngSubmit)="SignupForm()">
        <div class="form-group">
            <!-- <label for="username">Username:</label> -->
            <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username">
            <div *ngIf="signupForm.get('username')?.errors?.['required'] && signupForm.get('username')?.touched" class="text-danger">
                Username is required.
            </div>
        </div>
        <br>
        <div class="form-group">
            <!-- <label for="email">Email:</label> -->
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
            <div *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched" class="text-danger">
                Email is required.
            </div>
            <div *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched" class="text-danger">
                Invalid email format.
            </div>
        </div>
        <br>
        <div class="form-group">
            <!-- <label for="password">Password:</label> -->
            <input [type]="!showPassword ? 'text' : 'password'" id="password" formControlName="password" class="form-control" placeholder="Password">
            <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
                <i class="fa fa-eye" *ngIf="!showPassword"></i>
                <i class="fa fa-eye-slash" *ngIf="showPassword"></i>
            </span>            
            <div *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched" class="text-danger">
                Password is required.
            </div>
            <div *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched" class="text-danger">
                Password must be at least 6 characters long.
            </div>
        </div>
        <br>
        <div class="form-group">
            <!-- <label for="confirmPassword">Confirm Password:</label> -->            
            <input [type]="!showConfirmPassword ? 'text' : 'password'" id="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
            <span class="password-toggle-icon" (click)="toggleConfirmPasswordVisibility()">
                <i class="fa fa-eye" *ngIf="!showConfirmPassword"></i>
                <i class="fa fa-eye-slash" *ngIf="showConfirmPassword"></i>
            </span>
            <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required'] && signupForm.get('confirmPassword')?.touched" class="text-danger">
                Confirm Password is required.
            </div>
            <div *ngIf="signupForm.get('confirmPassword')?.errors?.['minlength'] && signupForm.get('confirmPassword')?.touched" class="text-danger">
                Confirm Password must be at least 6 characters long.
            </div>
            <div *ngIf="signupForm.hasError('confirmPasswordValidator','confirmPassword')" class="text-danger">
                *Confirm Password didn't matched*
            </div>
        </div>
        <br>
        <div class="form-group">
            <!-- <label for="mobile">Mobile Number:</label> -->
            <input type="tel" id="mobile" formControlName="mobile" class="form-control" placeholder="Mobile">
            <div *ngIf="signupForm.get('mobile')?.errors?.['required'] && signupForm.get('mobile')?.touched" class="text-danger">
                Mobile number is required.
            </div>
            <div *ngIf="signupForm.get('mobile')?.errors?.['pattern'] && signupForm.get('mobile')?.touched" class="text-danger">
                Invalid mobile number format.
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
        <br>
        <span><h5>----------or Sigunup with----------</h5></span> 
        <br>
        <div id="google-btn"></div>
    </form>

    <br>
    <div class="footer">
        <p>Already have an account? <a routerLink="/account/login">Login here</a></p>
    </div>
</div>