<!-- <p>header works!</p> -->
<div class="border-bottom" style="background-color: rgb(225, 225, 225);">
    <div class=" py-1 d-flex justify-content-center align-items-center" style="background-color: rgb(150, 100, 150);">
        <div class="container" >
        <div class="row ">
            <div class="col-md-6 col-12 text-center text-md-start" style="color: rgb(255, 255, 255);">
            <span> Use Code "GINNIS" for Free shipping for orders over INR 1500</span>
            </div>       
        </div>
        </div>
    </div>

   

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/logo/freshcart-logo.jpeg" alt="Bootstrap" width="100" height="100">
        </a>

        <div class="container-fluid d-flex flex-column" style="background-color: rgb(194, 241, 139);" >      

            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="background-color: rgb(22, 107, 156);" >
                <button type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"></path>
                    </svg>Wishlist
                </button>
        
                <button type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"></path>
                    </svg>Cart
                </button>
        
                <button class="btn btn-primary me-md-2" type="button">Login/Signup</button>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: aqua;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link"  href="#">Best Sellers</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Cashew</a></li>
                            <li><a class="dropdown-item" href="#">Almond</a></li>
                            <li><a class="dropdown-item" href="#">Raisin</a></li>
                            <li><a class="dropdown-item" href="#">Pistachio</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Dates</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  href="#">Combos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  href="#">Gifting</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>