<!-- <p>signup-mob works!</p>
<div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-8 col-12">
          <div class="py-6">
             <h4 class="fs-6 mb-4">Enter your phone number to Signup or Register</h4>
             <form>
             <div class="input-phone mb-2">
                <input type="tel" maxlength="10" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required >
             </div>
             <div class="d-grid">
                <button type="button" class="btn btn-primary">Next</button>
             </div>
             <div class="mt-4">
                <small>
                <a href="#">Terms of Service</a>
                <a href="#" class="ms-3">Privacy Policy</a>
                </small>
             </div>
          </div>
       </div>
    </div>
 </div> -->