<div class="containerbox">
    <div class="header">
        <h1>Change your Password</h1>
        <br>
        <p>Enter a new password below to change your password</p>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
        <br>
        <div class="form-group">
            <!-- <label for="password">Password:</label> -->
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
            <div *ngIf="resetPasswordForm.get('password')?.errors?.['required'] && resetPasswordForm.get('password')?.touched" class="text-danger">
                Password is required.
            </div>
            <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength'] && resetPasswordForm.get('password')?.touched" class="text-danger">
                Password must be at least 6 characters long.
            </div>
        </div>
        <br>
        <div class="form-group">
            <!-- <label for="confirmPassword">Confirm Password:</label> -->
            <input type="password" id="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required'] && resetPasswordForm.get('confirmPassword')?.touched" class="text-danger">
                Confirm Password is required.
            </div>
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] && resetPasswordForm.get('confirmPassword')?.touched" class="text-danger">
                Password must be at least 6 characters long.
            </div>
            <div *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword')" class="text-danger">
                *Password didn't matched*
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid" (click) = "reset()">Reset Password</button>
    </form>
</div>