.containerbox {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
  width: 25%;
  height: fit-content;
  padding: 0%;
  margin: 0%;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  height: fit-content;
  padding: 0%;
  margin: 0%;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  position: relative; /* Ensure the parent container is positioned */
}

.form-group input {
  width: 100%;
  height: fit-content;
  padding: 2%;
  margin: 0%;
  display: flex;
  border-radius: 10px;
  border-color: rgb(92, 88, 88);
}

button {
  width: 100%;
  height: fit-content;
  padding: 2%;
  margin: 10%;
  display: flex;
  border-radius: 10px;
  background-color:rgb(72, 72, 146);
  justify-content: center;
  color: aliceblue;
}

.password-toggle-icon {
  position: absolute; /* Position the icon relative to the parent container */
  top: 50%; /* Align the icon vertically */
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%); /* Center the icon vertically */
  z-index: 1; /* Ensure the icon is above the input field */
  cursor: pointer; /* Set cursor to pointer for better UX */
}

/* Adjust the icon size and styles as needed */
.fa {
  font-size: 20px;
  color: #555; /* Adjust the icon color */
}

.footer {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}


  /* For devices with a minimum width of 1080px (e.g., desktops) */
  @media (max-width: 1080px) {
    .header h1 {
        font-size: x-large;
    }
    .header p {
        font-size: small;
    }

    form {
        width: 50%;
    }
    
    .form-group input {
        padding: 1%;
        border-radius: 10px;
    }

    .fa {
        font-size: 14px;
        color: #555; /* Adjust the icon color */
    }

    
    button {
        padding: 1%;
        margin: 5%;
    }

    .footer p {
        font-size: small
    }
}


  /* For devices with a maximum width of 720px (e.g., tablets) */
@media (max-width: 720px) {
    .header h1 {
        font-size: larger;
    }
    .header p {
        font-size: smaller;
    }

    form {
        width: 50%;
    }
    
    .form-group input {
        padding: 1%;
        border-radius: 10px;
    }

    .fa {
        font-size: 14px;
        color: #555; /* Adjust the icon color */
    }

    
    button {
        padding: 1%;
        margin: 5%;
    }

    .footer p {
        font-size: smaller
    }
}


/* For devices with a maximum width of 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    .header {
        height: fit-content;
    }
    .header h1 {
        font-size: large;
    }
    .header p {
        font-size: x-small;
    }

    form {
        width: 50%;
    }
    
    .form-group input {
        padding: 1%;
        border-radius: 10px;
    }

    .fa {
        font-size: 14px;
        color: #555; /* Adjust the icon color */
    }

    
    button {
        padding: 1%;
        margin: 5%;
    }

    .footer p {
        font-size: x-small
    }
    
}

