<div class="containerbox">
    <div class="left">
        <div class="heading">
            <h3>Filter</h3>
            <button id="remove" (click)="resetFilters()">Remove All</button>
        </div>
    
        <div class="availability"  >
            <div class="availabilityheader">
                <h6>AVAILABILITY  <i class="fa fa-caret-down" (click)="toggleDropdownAvailability()"></i></h6>
            </div>
    
            <div class="availabilityfooter"  *ngIf="isDropdownOpenAvailability">
                <form action="">
                    <div class="intstock" id="dropdown-link">
                        <input type="checkbox" id="instock" name="instock" >
                        <label for="instock">  In Stocks ({{ inStockProducts.length }})</label>
                    </div>            
                    <div class="outstock" id="dropdown-link">
                        <input type="checkbox" id="outstock" name="outstock" >
                        <label for="outstock"> Out of Stock ({{ outOfStockProducts.length }})</label>
                    </div>       
                </form>
            </div>
        </div>
    
        <div class="categories" >
            <div class="categoryheader">
                <h6>CATEGORIES <i class="fa fa-caret-down" (click)="toggleDropdownCategory()"></i></h6>
            </div>
    
            <div class="categoryfooter" *ngIf="isDropdownOpenCategory">
                <form action="">
                    <div class="almonds">
                        <input type="checkbox" id="dropdown-link" name="almond" value="almond">
                        <label for="almond"> ALMONDS ({{ almonds.length }})</label>
                    </div>            
                    <div class="cashews">
                        <input type="checkbox" id="dropdown-link" name="cashew" value="cashew">
                        <label for="cashew"> CASHEWS ({{ cashews.length }})</label>
                    </div>      
                    <div class="pistas">
                        <input type="checkbox" id="dropdown-link" name="pista" value="pista">
                        <label for="pista"> PISTACHIOS ({{ pistas.length }})</label>
                    </div>
                    <div class="walnuts">
                        <input type="checkbox" id="dropdown-link" name="walnut" value="walnut">
                        <label for="walnut"> WALNUTS ({{ walnuts.length }})</label>
                    </div>
                    <div class="raisins">
                        <input type="checkbox" id="dropdown-link" name="raisin" value="raisin">
                        <label for="raisin"> RAISINS ({{ raisins.length }})</label>
                    </div>
                    <!-- <div class="combos">
                        <input type="radio" id="dropdown-link" name="combo" value="combo">
                        <label for="combo"> COMBOS ({{3}})</label>
                    </div>
                    <div class="giftings">
                        <input type="radio" id="dropdown-link" name="gifting" value="gifting">
                        <label for="gifting"> GIFTINGS ({{3}})</label>
                    </div>
                    <div class="bestsellers">
                        <input type="radio" id="dropdown-link" name="bestseller" value="bestseller">
                        <label for="bestseller"> BESTSELLERS ({{3}})</label>
                    </div> -->
                </form>
            </div>
        </div>
    
        <div class="price" >
            <div class="priceheader">
                <h6>PRICING <i class="fa fa-caret-down" (click)="toggleDropdownPricing()"></i></h6>
            </div>
    
            <div class="pricefooter" *ngIf="isDropdownOpenPricing">                
                <form action="">
                    <div class="minprice">
                        <input type="text" id="minprice" name="minprice" [value]="minPrice">
                        <span class="currency-icon">&#x20B9;</span>
                    </div> 
                    <div class="minussign">
                        <h5>-</h5>           
                    </div>
                    <div class="maxprice">
                        <input type="text" id="maxprice" name="maxprice" [value]="maxPrice">
                        <span class="currency-icon">&#x20B9;</span>
                    </div>       
                </form>
            </div>
        </div>
    
        <div class="sortby" >
            <div class="sortbyheader" >
                <h6>SORT BY <i class="fa fa-caret-down" (click)="toggleDropdownSortby()"></i></h6>
            </div>
    
            <div class="sortbyfooter" *ngIf="isDropdownOpenSortby">
                <form action="">
                    <div class="Featured">
                        <input type="radio" id="dropdown-link" name="featured" value="featured">
                        <label for="featured"> Featured </label>
                    </div>            
                    <div class="AlphabetUp">
                        <input type="radio" id="dropdown-link" name="alphabetUp" value="alphabetUp">
                        <label for="alphabetUp"> Alphabetically, A-Z</label>
                    </div>      
                    <div class="AlphabetDown">
                        <input type="radio" id="dropdown-link" name="alphabetDown" value="alphabetDown">
                        <label for="alphabetDown"> Alphabetically, Z-A </label>
                    </div>
                    <div class="PriceUp">
                        <input type="radio" id="dropdown-link" name="priceUp" value="priceUp">
                        <label for="priceUp"> Price, low to high </label>
                    </div>
                    <div class="PriceDown">
                        <input type="radio" id="dropdown-link" name="priceDown" value="priceDown">
                        <label for="priceDown"> Price, high to low </label>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="right">
        <div class="header">
            <div class="headertop">
                <h1>Combos</h1>
            </div>
        </div>
    
        <div class="middle">
            <div class="almond-grid">
                <ng-container *ngFor= "let item of productlist">
                    <div class="dryfruit">
                        <!-- Almond content here -->
                        <div class="image">
                            <div class="saving">
                                <h6>Save Rs. {{ item.discount }}</h6>
                                <!-- <h6>{{ item.subcategory }}</h6> -->
                            </div>
                            <img src="../../assets/images/logo/freshcart-logo.jpeg" alt="GINNI DryFruits">
                        </div>
                
                        <div class="naming">
                            <a routerLink="/main/ginnimainproduct"><h5>{{ item.productName }}</h5></a>
                        </div>
                    
                        <div class="pricing">
                            <h5>Rs {{ item.price }}</h5>
                        </div>
                    
                        <div class="carting">
                            <button (click)="addtocart(item)">Add to Cart</button>
                        </div>          
                    </div>
                </ng-container>
            </div>
       
    
            <!-- Pagination -->
            <!-- <div *ngIf="almonds.length > 20" class="pagination">
                <button type="button" (click)="prevPage()">Previous</button>
                <button type="button" (click)="nextPage()">Next</button>
            </div> -->
        </div>    
    
        <!-- <div class="footer">
            <div class="pagination">
                <p>paginationss</p>
            </div>
        </div> -->
    </div>

</div>