.containerbox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0%;
    background-color: antiquewhite;
    /* overflow-x: auto; 
    white-space: nowrap;  */
}

.containerbox i {
    font-size: medium;
}

.shipping, .refund, .nutrition, .payment {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin: 0%;
    /* border: 1px solid; */
}

.text {
    margin-left: 5%;    
    /* border: 1px solid; */
}


@media (max-width: 1080px) {
    .containerbox p {
        font-size: smaller;
    }

    .containerbox h6 {
        font-size: small;
    }
    
    .containerbox i {
        font-size: small;
    }

}


@media (max-width: 720px) {
    .containerbox p {
        font-size: x-small;
    }

    .containerbox h6 {
        font-size: smaller;
    }
    
    .containerbox i {
        font-size: smaller;
    }
}


@media (max-width: 480px) {
    .containerbox {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centers vertically */
        align-items: center; /* Centers horizontally */
        width: 100%;
        padding: 2%; /* Adjust the padding as needed */
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
        gap: 0; /* Adjust the gap between grid items as needed */
    }

    .containerbox .shipping, .containerbox .refund, .containerbox .nutrition, .containerbox .payment {
        display: flex;
        flex-direction: row;

    }

    
    .containerbox p {
        display: none;
    }

    .containerbox p {
        font-size: xx-small;
    }

    .containerbox h6 {
        font-size: x-small;
    }
    
    .containerbox i {
        font-size: x-small;
    }
}

/* @media (max-width: 320px) {
    .containerbox p {
        display: none;
    }

    .containerbox h6 {
        font-size: xx-small;
    }
    
    .containerbox i {
        font-size: xx-small;
    }
} */

/* @media (max-width: 240px) {
    .containerbox p {
        display: none;
    }

    .containerbox p {
        display: none;
    }

    .containerbox h6 {
        font-size: xx-small;
    }
    
    .containerbox i {
        font-size: xx-small;
    }
} */
