<div class="containerbox">
    <div class="shipping">
        <i class='fa fa-shopping-cart' ></i>
        <div class="text">
            <h6>Free shipping</h6>
            <p>Explore our range with the option for Free Home Delivery Across India.</p>
        </div>
    </div>

    <div class="refund">
        <i class="fa fa-shopping-cart" ></i>
        <div class="text">
            <h6>Satisfied or Refunded</h6>
            <p>7 Day Return If You're Not Happy and Hassle-free refunds available.</p>
        </div>
    </div>

    <div class="nutrition">
        <i class="fa fa-check-square" ></i>
        <div class="text">
            <h6>Products Quality</h6>
            <p>100% Clean and Nutritious Productsss.</p>
        </div>
    </div>

    <div class="payment">
        <i class="fa fa-paypal" ></i>
        <div class="text">
            <h6>Secure payments</h6>
            <p>Shop securely with us. Your payments encrypted for peace of mind.</p>
        </div>
    </div>
</div>