<!-- <app-navbar></app-navbar> -->
<!-- <app-footer></app-footer> 
<app-large-image-product></app-large-image-product> -->
<!-- <app-slideproducts></app-slideproducts> -->
<!-- <app-slidecategories></app-slidecategories> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-slider></app-slider> -->
<!-- <app-griditems></app-griditems> -->
<!-- <app-counter></app-counter> -->
<!-- <app-textandimage></app-textandimage> -->
<app-accordion></app-accordion>
<app-badge></app-badge>
<app-pagination></app-pagination>