.class{
    /* background-image: url('../assets/images/slider/bg.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: antiquewhite;
}