
<!-- <app-ginnioffer></app-ginnioffer> -->
<!-- <app-ginnifooter></app-ginnifooter> -->
<!-- <app-ginniimageslider></app-ginniimageslider> -->
<!-- <app-ginniproducts></app-ginniproducts> -->
<!-- <app-ginnitextandimage></app-ginnitextandimage> -->
<!-- <app-ginniupperfooter></app-ginniupperfooter> -->
<!-- <app-ginnifaq></app-ginnifaq> -->
<!-- <app-ginnisignup></app-ginnisignup> -->
<!-- <app-ginnisignin></app-ginnisignin> -->
<!-- <app-ginniforgotpassword></app-ginniforgotpassword> -->
<!-- <app-ginnicustomerreview></app-ginnicustomerreview> -->
<!-- <app-ginniaboutus></app-ginniaboutus> -->
<!-- <app-ginnitermservice></app-ginnitermservice> -->
<!-- <app-ginniprivacypolicy></app-ginniprivacypolicy> -->
<!-- <app-ginnishippingpolicy></app-ginnishippingpolicy> -->
<!-- <app-ginnireturnpolicy></app-ginnireturnpolicy> -->
<app-ginnicontactus></app-ginnicontactus>