<div class="containerbox">
  <div class="upper">
    <div class="header">
      <h1>Product List</h1>
    </div>

    <div class="button">
      <button (click)="togglePopup()" class="upperbutton"><b>Add New Product</b></button>
    </div>

    <!-- Confirmation Modal -->
    <div class="modal" [class.show]="isDeleteModalOpen">
      <div class="modal-content">
        <p>Are you sure you want to delete this product?</p>
        <div class="modal-button">
          <button (click)="confirmDelete()">Delete</button>
          <button (click)="closeDeleteConfirmation()">Cancel</button>
        </div>
      </div>
    </div>

    <!-- Overlay -->
    <div class="overlay" *ngIf="isPopupOpen" (click)="togglePopup()"></div>

    <div class="productpopup" *ngIf="isPopupOpen">
      <div class="popup">
        <div class="popuphead">
          <div class="popupheadleft">
            <h2>{{ isEdit ? 'Edit' : 'Add' }} Product Detail</h2>
            <p>Please {{ isEdit ? 'update' : 'fill in' }} the information below:</p>
          </div>
          <div class="popupheadright">
            <span class="close-icon" (click)="togglePopup()"><i class="fa fa-close"></i></span>
          </div>
        </div>

        <div class="popupdown">
          <form [formGroup]="productForm" (ngSubmit)="isEdit ? submitEditedProduct() : addedProduct()">     
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">

                <div class="form-group floating-label-group" >
                  <input type="text" id="productName" formControlName="productName"  autocomplete="off" required>
                  <label class="floating-label">Product Name</label>
                  <div *ngIf="productForm.get('productName')?.errors?.['required'] && productForm.get('productName')?.touched" class="text-danger">
                    Product Name is required.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <input type="number" id="MRPprice" formControlName="MRPprice" min="0" autocomplete="off" required>
                  <label class="floating-label">MRP Price</label>
                  <div *ngIf="productForm.get('MRPprice')?.errors?.['required'] && productForm.get('MRPprice')?.touched" class="text-danger">
                    MRP Price is required.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <input type="number" id="discountPercent" formControlName="discountPercent" min="0" max="100" autocomplete="off" required>
                  <label class="floating-label">Discount in %</label>
                  <div *ngIf="productForm.get('discountPercent')?.errors?.['required'] && productForm.get('discountPercent')?.touched" class="text-danger">
                    Discount in % is required.
                  </div>
                    <!-- Error message for out-of-limit values -->
                  <div *ngIf="(productForm.get('discountPercent')?.errors?.['min'] || productForm.get('discountPercent')?.errors?.['max']) && productForm.get('discountPercent')?.touched" class="text-danger">
                    Discount % must be between 0 and 100.
                  </div>

                </div>

                <div class="form-group floating-label-group">
                  <input type="number" id="discountRupee" formControlName="discountRupee" autocomplete="off" [disabled]="true">
                  <label class="floating-label">Discount in Rupuee</label>
                  <div *ngIf="productForm.get('discountRupee')?.errors?.['required'] && productForm.get('discountRupee')?.touched" class="text-danger">
                    Discount in Rupuee is required.
                  </div>
                </div>
                
                <div class="form-group floating-label-group" >
                  <input type="text" id="discountCoupon" formControlName="discountCoupon"  autocomplete="off" required>
                  <label class="floating-label">Discount Coupon</label>
                  <div *ngIf="productForm.get('discountCoupon')?.errors?.['required'] && productForm.get('discountCoupon')?.touched" class="text-danger">
                    Discount Coupon is required.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <input type="number" id="deliveryPrice" formControlName="deliveryPrice" min="0" max="100" autocomplete="off" required>
                  <label class="floating-label">Delivery Price</label>
                  <div *ngIf="productForm.get('deliveryPrice')?.errors?.['required'] && productForm.get('deliveryPrice')?.touched" class="text-danger">
                    Delivery Price is required.
                  </div>
                    <!-- Error message for out-of-limit values -->
                  <div *ngIf="(productForm.get('deliveryPrice')?.errors?.['min'] || productForm.get('deliveryPrice')?.errors?.['max']) && productForm.get('deliveryPrice')?.touched" class="text-danger">
                    Delivery Price must be between 0 and 100.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <input type="number" id="offerPrice" formControlName="offerPrice" min="0" autocomplete="off" [disabled]="true">
                  <label class="floating-label">Offer Price</label>
                  <div *ngIf="productForm.get('offerPrice')?.errors?.['required'] && productForm.get('offerPrice')?.touched" class="text-danger">
                    Offer Price is required.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <input type="number" id="quantity" formControlName="quantity" min="0"   autocomplete="off" required>
                  <label class="floating-label">Quantity</label>
                  <div *ngIf="productForm.get('quantity')?.errors?.['required'] && productForm.get('quantity')?.touched" class="text-danger">
                    Quantity is required.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <textarea id="description" formControlName="description" autocomplete="off" required></textarea>
                  <label class="floating-label">Description</label>
                  <div *ngIf="productForm.get('description')?.errors?.['required'] && productForm.get('description')?.touched" class="text-danger">
                    Description is required.
                  </div>
                </div>

                <!-- Category selection dropdown -->
                <div class="form-group floating-label-group">
                  <select formControlName="category" autocomplete="off" required>
                    <option value="sel" disabled selected>Select Category</option>
                    <option value="dryFruits">Dry Fruits</option>
                    <option value="driedFruits">Dried Fruits</option>
                    <option value="seeds">Seeds</option>
                    <option value="roasted">Roasted</option>
                    <option value="mixes">Mixes</option>
                  </select>
                  <label class="floating-label">Category</label>
                  <div *ngIf="productForm.get('category')?.errors?.['required'] && productForm.get('category')?.touched" class="text-danger">
                    Category is required.
                  </div>
                </div>

                <!-- Subcategory selection dropdown -->
                <div class="form-group floating-label-group">
                  <select formControlName="subcategory" autocomplete="off" required>
                    <option value="sel" disabled selected>Select Subcategory</option>
                    <option value="combo">Combo</option>
                    <option value="bestseller">Bestseller</option>
                    <option value="gifting">Gifting</option>
                    <option value="products">Dry Fruits</option>
                  </select>
                  <label class="floating-label">Subcategory</label>
                  <div *ngIf="productForm.get('subcategory')?.errors?.['required'] && productForm.get('subcategory')?.touched" class="text-danger">
                    Subcategory is required.
                  </div>
                </div>

                <!-- Weight selection dropdown -->
                <div class="form-group floating-label-group">
                  <select id="weight" formControlName="weight" autocomplete="off" required>
                    <option value="sel" disabled selected>Select Weight</option>
                    <option value="100gm">100gm</option>
                    <option value="200gm">200gm</option>
                    <option value="250gm">250gm</option>
                    <option value="500gm">500gm</option>
                    <option value="750gm">750gm</option>
                    <option value="1000gm">1000gm</option>
                  </select>
                  <label class="floating-label">Weight</label>
                  <div *ngIf="productForm.get('weight')?.errors?.['required'] && productForm.get('weight')?.touched" class="text-danger">
                    Weight is required.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <select formControlName="stock" autocomplete="off" required>
                    <option value="sel" disabled selected>Select Stock</option>
                    <option value="instock">In Stock</option>
                    <option value="outofstock">Out of Stock</option>
                  </select>
                  <label class="floating-label">Status</label>
                  <div *ngIf="productForm.get('stock')?.errors?.['required'] && productForm.get('stock')?.touched" class="text-danger">
                    Stock is required.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <input type="number" step="0.1" id="rating" formControlName="rating" min="0" max="5" autocomplete="off" required>
                  <label class="floating-label">Rating</label>
                  <div *ngIf="productForm.get('rating')?.errors?.['required'] && productForm.get('rating')?.touched" class="text-danger">
                    Rating is required.
                  </div>
                    <!-- Error message for out-of-limit values -->
                  <div *ngIf="(productForm.get('rating')?.errors?.['min'] || productForm.get('rating')?.errors?.['max']) && productForm.get('rating')?.touched" class="text-danger">
                    Rating must be between 0 and 5.
                  </div>
                </div>

                <div class="form-group floating-label-group">
                  <input type="number" id="userRating" formControlName="userRating" min="0" autocomplete="off" required>
                  <label class="floating-label">User Rating</label>
                  <div *ngIf="productForm.get('userRating')?.errors?.['required'] && productForm.get('userRating')?.touched" class="text-danger">
                    User Rating is required.
                  </div>
                </div>


              </div>
            </div>
            
            <br>
            <button type="submit" [disabled]="!productForm.valid">
              <h6>
                {{ isEdit ? 'Submit Edit product' : 'Add a New product' }}
              </h6>
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Overlay -->
    <div class="overlay" *ngIf="isPopupView" (click)="toggleView()"></div>

    <div class="productpopup" *ngIf="isPopupView">
      <div class="popup">
        <div class="popuphead">
          <div class="popupheadleft">
           <h1>Product Details</h1>
          </div>
          <div class="popupheadright">
            <span class="close-icon" (click)="toggleView()"><i class="fa fa-close"></i></span>
          </div>
        </div>
        
        <br>

        <div class="popupdown">
          <form [formGroup]="productForm" >     
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <div class="form-group floating-label-group">
                  <input type="text" id="productName" formControlName="productName" autocomplete="off" class="non-editable" >
                  <label class="floating-label">Product Name</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" id="MRPprice" formControlName="MRPprice" min="0" autocomplete="off" class="non-editable">
                  <label class="floating-label">MRP Price</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" id="discountPercent" formControlName="discountPercent" min="0" max="100" autocomplete="off" class="non-editable">
                  <label class="floating-label">Discount in %</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" id="discountRupee" formControlName="discountRupee" autocomplete="off" class="non-editable">
                  <label class="floating-label">Discount in Rupee</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="text" id="discountCoupon" formControlName="discountCoupon" autocomplete="off" class="non-editable">
                  <label class="floating-label">Discount Coupon</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" id="deliveryPrice" formControlName="deliveryPrice" min="0" max="100" autocomplete="off" [disabled]="true">
                  <label class="floating-label">Delivery Price</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" id="offerPrice" formControlName="offerPrice" min="0" autocomplete="off" class="non-editable">
                  <label class="floating-label">Offer Price</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" id="quantity" formControlName="quantity" min="0" autocomplete="off" class="non-editable">
                  <label class="floating-label">Quantity</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <textarea id="description" formControlName="description" autocomplete="off" class="non-editable"></textarea>
                  <label class="floating-label">Description</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <select formControlName="category" autocomplete="off" class="non-editable">
                    <option value="dryFruits">Dry Fruits</option>
                    <option value="driedFruits">Dried Fruits</option>
                    <option value="seeds">Seeds</option>
                    <option value="roasted">Roasted</option>
                    <option value="mixes">Mixes</option>
                  </select>
                  <label class="floating-label">Category</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <select formControlName="subcategory" autocomplete="off" class="non-editable">
                    <option value="combo">Combo</option>
                    <option value="bestseller">Bestseller</option>
                    <option value="gifting">Gifting</option>
                    <option value="products">Dry Fruits</option>
                  </select>
                  <label class="floating-label">Subcategory</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <select id="weight" formControlName="weight" autocomplete="off" class="non-editable">
                    <option value="100gm">100gm</option>
                    <option value="200gm">200gm</option>
                    <option value="250gm">250gm</option>
                    <option value="500gm">500gm</option>
                    <option value="750gm">750gm</option>
                    <option value="1000gm">1000gm</option>
                  </select>
                  <label class="floating-label">Weight</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <select formControlName="stock" autocomplete="off" class="non-editable">
                    <option value="instock">In Stock</option>
                    <option value="outofstock">Out of Stock</option>
                  </select>
                  <label class="floating-label">Status</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" step="0.1" id="rating" formControlName="rating" min="0" max="5" autocomplete="off" class="non-editable">
                  <label class="floating-label">Rating</label>
                </div>
            
                <div class="form-group floating-label-group">
                  <input type="number" id="userRating" formControlName="userRating" min="0" autocomplete="off" class="non-editable">
                  <label class="floating-label">User Rating</label>
                </div>
              </div>
            </div>         
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="lower">
    <div class="heading">
      <div class="headerserial">
        <h5>S. No.</h5>
      </div>

      <div class="headerimage">
        <h5>Image</h5>
      </div>

      <div class="headername">
        <h5>Name</h5>
      </div>

      <div class="headeraction">
        <h5>Action</h5>
      </div>
    </div>

    <div class="footing" *ngFor="let item of productlist let i = index">
      <div class="footerserial">
        <p>{{ i + 1 }}</p> <!-- Display the serial number dynamically -->
      </div>

      <div class="footerimage">
        <img [src]="'../../assets/images/product_Images/' + item.productName  +1+ '.jpg'" alt="GINNI">
        <!-- <h6>{{item.productName}}</h6> -->
      </div>

      <div class="footername">
        <p>{{item.productName | titlecase}}</p>
      </div>

      <div class="footeraction">
        <button (click)="openViewPopup(item)"><b>View</b></button>
        <br>
        <button (click)="openEditPopup(item)"><b>Edit</b></button>
        <br>
        <button (click)="openDeleteConfirmation(item.id)"><b>Delete</b></button>
        <!-- Delete Button -->
        <!-- <button (click)="deleteProduct(item.id)"><b>Delete </b></button>  -->
      </div>
    </div>
  </div>

</div>







<!-- <table>
      <thead>
        <tr>
          <th style="width:7%">Image</th>
          <th style="width:7%">Name</th>
          <th style="width:7%">Description</th>
          <th style="width:7%;">URL</th>
          <th style="width:7%">Price</th>
          <th style="width:7%">Discount</th>
          <th style="width:7%">Delivery</th>
          <th style="width:7%">Quantity</th>
          <th style="width:7%">Category</th>
          <th style="width:10%">Sub-Category</th>
          <th style="width:7%">Weight</th>
          <th style="width:7%">Status</th>
          <th style="width:7%">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of productlist">
          <ng-container *ngFor="let key of tableHeaders">
            <td style="max-width: 8%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              <ng-container *ngIf="key === 'profileImage'">
                <img [src]="item.imageData" alt="Product Image" style="width: 100%; height: 50%;">
              </ng-container>

              <ng-container *ngIf="key !== 'profileImage'">
                {{ item[key] }}
              </ng-container>
            </td>
          </ng-container>
          <td>
            <button (click)="openEditPopup(item)"><b>Edit</b></button>
            <br>
            <button (click)="deleteProduct(item.id)"><b>Delete </b></button>
          </td>
        </tr>
      </tbody>
    </table> -->

<!-- <div class="popupdown">
  <form [formGroup]="productForm" (ngSubmit)="isEdit ? submitEditedProduct() : addedProduct()">     
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">

        <div class="form-group floating-label-group" >
          <input type="text" id="productName" formControlName="productName"  autocomplete="off" required>
          <label class="floating-label">Product Name</label>
          <div *ngIf="productForm.get('productName')?.errors?.['required'] && productForm.get('productName')?.touched" class="text-danger">
            Product Name is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <input type="text" id="url" formControlName="url" autocomplete="off" required>
          <label class="floating-label">URL</label>
          <div *ngIf="productForm.get('url')?.errors?.['required'] && productForm.get('url')?.touched" class="text-danger">
            URL is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <input type="number" id="price" formControlName="price" min="0" autocomplete="off" required>
          <label class="floating-label">Price</label>
          <div *ngIf="productForm.get('price')?.errors?.['required'] && productForm.get('price')?.touched" class="text-danger">
            Price is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <input type="number" id="discount" formControlName="discount" min="0" max="100" autocomplete="off" required>
          <label class="floating-label">Discount in %</label>
          <div *ngIf="productForm.get('discount')?.errors?.['required'] && productForm.get('discount')?.touched" class="text-danger">
            Discount % is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <input type="number" id="deliveryPrice" formControlName="deliveryPrice" min="0" autocomplete="off" required>
          <label class="floating-label">Delivery Price</label>
          <div *ngIf="productForm.get('deliveryPrice')?.errors?.['required'] && productForm.get('deliveryPrice')?.touched" class="text-danger">
            Delivery Price is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <input type="number" id="quantity" formControlName="quantity" min="0"   autocomplete="off" required>
          <label class="floating-label">Quantity</label>
          <div *ngIf="productForm.get('quantity')?.errors?.['required'] && productForm.get('quantity')?.touched" class="text-danger">
            Quantity is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <textarea id="description" formControlName="description" autocomplete="off" required></textarea>
          <label class="floating-label">Description</label>
          <div *ngIf="productForm.get('description')?.errors?.['required'] && productForm.get('description')?.touched" class="text-danger">
            Description is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <select formControlName="category" autocomplete="off" required>
            <option value="sel" disabled selected>Select Category</option>
            <option value="almond">Almond</option>
            <option value="raisin">Raisin</option>
            <option value="walnut">Walnut</option>
          </select>
          <label class="floating-label">Category</label>
          <div *ngIf="productForm.get('category')?.errors?.['required'] && productForm.get('category')?.touched"
            class="text-danger">
            Category is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <select formControlName="subcategory" autocomplete="off" required>
            <option value="sel" disabled selected>Select Subcategory</option>
            <option value="combo">Combo</option>
            <option value="bestseller">Bestseller</option>
            <option value="gifting">Gifting</option>
            <option value="products">Products</option>
          </select>
          <label class="floating-label">Subcategory</label>
          <div
            *ngIf="productForm.get('subcategory')?.errors?.['required'] && productForm.get('subcategory')?.touched"
            class="text-danger">
            Subcategory is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <select id="weight" formControlName="weight" autocomplete="off" required>
            <option value="sel" disabled selected>Select Weight</option>
            <option value="100gm">100gm</option>
            <option value="200gm">200gm</option>
            <option value="250gm">250gm</option>
            <option value="500gm">500gm</option>
            <option value="750gm">750gm</option>
            <option value="1000gm">1000gm</option>
          </select>
          <label class="floating-label">Weight</label>
          <div *ngIf="productForm.get('weight')?.errors?.['required'] && productForm.get('weight')?.touched"
            class="text-danger">
            Weight is required.
          </div>
        </div>

        <div class="form-group floating-label-group">
          <select formControlName="status" autocomplete="off" required>
            <option value="sel" disabled selected>Select Status</option>
            <option value="instock">In Stock</option>
            <option value="outofstock">Out of Stock</option>
          </select>
          <label class="floating-label">Status</label>
          <div *ngIf="productForm.get('status')?.errors?.['required'] && productForm.get('status')?.touched"
            class="text-danger">
            Status is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group ">
      <input type="file" (change)="onFileChanged($event)" accept="image/*" formControlName="image">
      <div *ngIf="productForm.get('image')?.errors?.['required'] && productForm.get('image')?.touched" class="text-danger">
        Image is required.
      </div>
    </div>

    <div *ngIf="selectedImage" class="text-center mt-3" style="display: flex; flex-direction: row; justify-content: space-between; padding: 0% 5%;">
      <img [src]="selectedImage" alt="Selected Image" style="max-width: 100%; max-height: 200px;">
      <i class="fa fa-trash-o" (click)="onDeleteImage()" style="font-size:24px"></i>
    </div>

    
    <div class="form-group" *ngIf ="!isEdit">
      <label for="imageUpload" class="camera-icon">
        <i class="fa fa-camera"></i>
        Choose Multiple Images
      </label>
      <input type="file" id="imageUpload" (change)="onFileChanges($event)" multiple accept="image/*" style="display: none;">
    </div>
    
    <div *ngFor="let image of selectedImages; let i = index" class="selected-image-container" style="display: flex; justify-content: space-between;">
      <img [src]="image.data" class="selected-image" alt="Selected Image">
      <span>{{ image.name }}</span>
      <i class="fa fa-trash-o" (click)="onDeleteImages(i)" style="font-size:24px"></i>
    </div>
    
    <br>
    <button type="submit" [disabled]="!productForm.valid">
      <h6>
        {{ isEdit ? 'Submit Edit product' : 'Add a New product' }}
      </h6>
    </button>
  </form>
</div> -->