.containerbox {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.upper {
    width: 100%;
    height: fit-content;
    padding: 2% 5%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid; */
    align-items: center;
}

.header {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.button{
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: right;
    /* border: 1px solid; */
    
}

.button  button {
    width: fit-content;
    height: fit-content;
    padding: 2%;
    margin: 0%;
    border-radius: 10px;
    background-color: #4682b4
;
    color: antiquewhite;
    border: 1px solid aliceblue;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9990; /* Ensure it's above other content */
    overflow: hidden; /* Prevent scrolling */

}

/* Class to prevent background scroll */
.no-scroll {
  overflow: hidden;
}


.productpopup {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    color: #4682b4
;
    padding: 1%;
    border: 1px solid;
    border-radius: 5px;
    z-index: 10000; /* Ensure it's above the overlay */
    max-height: 90%; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    
}


.popup {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.popuphead {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.popupheadleft {
    width: 95%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.popupheadright {
    width: 5%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    /* border: 1px solid; */
}

.close-icon {
    cursor: pointer;
    font-size: 30px;
    color: #4682b4
;
    /* border: 1px solid; */
}

.popupdown {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 6px solid; */
}

.popup form {
    width: 100%;
    height: fit-content;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* border: 5px solid; */
}

/* .form-group input[type="text"] {
    width: 100%; 
    padding: 2%; 
    border-radius: 10px;
}

.form-group input[type="number"] {
    width: 100%; 
    padding: 2%; 
    border-radius: 10px;
}

.form-group textarea {
    width: 100%;
    padding: 2%;
    border-radius: 10px;
  }
  
/* Style for the select tag */
/* .form-group select {
    width: 100%; 
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff; 
    font-size: 16px; 
    color: #333; 
  } */
  


.floating-label-group .text-danger {
  color: red;
  font-size: smaller; 
  margin-top: 0px; 
  margin-bottom: 30px;
} 

.row {
  width: 100%;
  margin: 0;
}

.col-xs-4 {
  width: 100%;
  padding: 0;
}


.floating-label-group {
  position: relative;
  margin-top: 25px;
  width: 100%;
  padding: 0;
}

.floating-label-group input,
.floating-label-group textarea,
.floating-label-group select,
.floating-label-group textarea {
  width: 100%;
  padding: 1%;
  margin: 0;
  border: 1px solid #4682b4
;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
}

.floating-label {
  font-size: medium;
  color: grey;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.floating-label-group input:focus ~ .floating-label,
.floating-label-group textarea:focus ~ .floating-label,
.floating-label-group select:focus ~ .floating-label
{
  top: -10px;
  left: 0px;
  font-size: medium;
  font-weight: bold;
  color: #4682b4
;
}

.floating-label-group input:valid ~ .floating-label,
.floating-label-group select:valid ~ .floating-label,
.floating-label-group textarea:valid ~ .floating-label 
{
  top: -10px;
  left: 0px;
  font-size: small;
  font-weight: bold;
  color: #4682b4
;
}


.floating-label-group input.ng-invalid.ng-touched ~ .floating-label,
.floating-label-group textarea.ng-invalid.ng-touched ~ .floating-label,
.floating-label-group select.ng-invalid.ng-touched ~ .floating-label {
  top: -10px;
  left: 0px;
  font-size: small;
  font-weight: bold;
  color: #4682b4
;
}

.floating-label-group input:focus ~ .floating-label,
.floating-label-group textarea:focus ~ .floating-label,
.floating-label-group select:focus ~ .floating-label,
.floating-label-group input.ng-touched ~ .floating-label,
.floating-label-group textarea.ng-touched ~ .floating-label,
.floating-label-group select.ng-touched ~ .floating-label {
  top: -10px;
  left: 0px;
  font-size: small; /* Adjust as needed */
  font-weight: bold;
  color: #4682b4
;
}

.non-editable {
  pointer-events: none;
}

.popupdown button {
  width: 100%; /* Adjust width as needed */
  padding: 2% 0%; /* Adjust padding as needed */
  border-radius: 10px;
  background-color: #4682b4
;
  color: aliceblue;
}


.lower {
    width: 100%;
    height: fit-content;
    padding: 2% 5%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    align-items: center;
}

table{
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    /* border: 5px solid; */
}

img {
    height: 10%;
    width: 10%;
}

table th {
    border: 1px solid rgb(122, 143, 31);
    padding: 1%;
    margin: 0%;
    width: fit-content;
    height: fit-content;
}

table td {
    border: 1px solid blueviolet;
    padding: 1%;
    margin: 0%;
    width: fit-content;
    height: fit-content;
}

td button {
    width: 100%;
    height: fit-content;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
}

/* Example using Font Awesome for camera icon */
.camera-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 24px; /* Adjust as needed */
    padding: 0%;
    border-radius: 5px;
  }
  
  /* If you're using Font Awesome icons */
  .fa-camera {
    /* Adjust color and other styles as needed */
    color: #333;
  }
  
  /* Hide default file input button */
  /* input[type="file"] {
    display: none;
  } */


  .selected-images {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
  }

  .addimages {
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .imageDetail {
    width: 40%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid; */

  }

  .image {
    width: 50%;
    padding: 0%;
    margin: 0%;
  }

  .image img {
    width: 5rem;
    height: 3rem;
  }

  .imageName {
    width: 50%;
    padding: 0%;
    margin: 0%;
    text-align: center;
    align-items: center;
  }

  .imageDelete {
    width: 80%;
    padding: 0%;
    margin: 0%;
    /* border: 1px solid; */
    display: flex;
    justify-content: right;
    align-items: right;
  }

  .imageDelete i {
    align-items: right;
  }


  .heading {
    width: 100%;
    height: 100%;
    padding: 1% 0%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    border: 1px solid rgb(200, 200, 200);
  }

  .heading h5 {
    margin: 0%;
    padding: 0%;
    color: #4682b4
;
  }

  .headerserial {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }

  .headerimage {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }

  .headername {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }

  .headeraction {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }

  .footing {
    width: 100%;
    height: 100%;
    padding: 1% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgb(200, 200, 200);
  }


  .footerserial {
    width: 10%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerimage {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }

  .footerimage img {
    width: 6rem;
    height: 3rem;
    border: 1px solid;
  }

  .footername {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footeraction {
    width: 30%;
    height: fit-content;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .footeraction button {
    width: 100%;
    height: fit-content;
    padding: 2%;
    margin: 0% 5%;
    border-radius: 10px;
    background-color: #4682b4
;
    border: 1px solid;
    color: aliceblue;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Sit on top */
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; /* Show the modal */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.modal-button button {
  width: 100%;
  height: fit-content;
  padding: 2%;
  margin: 0% 5%;
  border-radius: 10px;
  background-color: #4682b4
;
  border: 1px solid;
  color: aliceblue;
}