<div class="containerbox">
    <div class="header">
        <h1>Reset your Password</h1>
        <p>We will send you an email to Reset your Password</p>
    </div>

    <div class="form">
        <div class="email">
            <input type="email" placeholder="Email" id="email">
        </div>

        <div class="buttons">
            <button type="submit"><h3>Recover</h3></button>
        </div>
    </div>

    <div class="footer">
        <p>Remembered your password? <a href="#">Back to login</a></p>
    </div>
</div>