<div class="containerbox">
    <div class="header">
        <h1>Reset your Password</h1>
        <p>We will send you an email to Reset your Password</p>
    </div>

    <!-- <div class="form" [formGroup]="resetFrom">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="email floating-label-group">
                    <input type="email" id="email" formControlName="email" [(ngModel)]="resetPasswordEmail"  autocomplete="off" required>
                    <label class="floating-label">Email</label>
                    <div *ngIf="resetFrom.get('email')?.errors?.['required'] && resetFrom.get('email')?.touched" class="text-danger">
                        Email is required.
                    </div>
                    <div *ngIf="resetFrom.get('email')?.errors?.['email'] && resetFrom.get('email')?.touched" class="text-danger">
                        Invalid email format.
                    </div>
                </div>
            </div>
        </div>
    
        <div class="buttons">
            <button (click)="confirmToReset()" [disabled]="resetFrom.invalid">Recover Password</button>
        </div>
    </div> -->

    <form [formGroup]="resetFrom" (ngSubmit)="confirmToReset()">    
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="form-group floating-label-group">
                    <input type="email" id="email" formControlName="email" class="form-control" autocomplete="off" required>
                    <label class="floating-label">Email</label>
                    <div *ngIf="resetFrom.get('email')?.errors?.['required'] && resetFrom.get('email')?.touched" class="text-danger">
                        Email is required.
                    </div>
                    <div *ngIf="resetFrom.get('email')?.errors?.['email'] && resetFrom.get('email')?.touched" class="text-danger">
                        Invalid email format.
                    </div>
                </div>
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="resetFrom.invalid">Recover Password</button>
    </form>
    
    <div class="footer">
        <p>Remembered your password? <a routerLink="/account/login">Back to login</a></p>
    </div>
</div>