<div class="containerbox">
    <div class="header">
        <h1>Reset your Password</h1>
        <p>We will send you an email to Reset your Password</p>
    </div>

    <div class="form" [formGroup]="resetFrom">
        <div class="email">
            <input type="email" placeholder="Email" id="email" formControlName="email" [(ngModel)]="resetPasswordEmail">
            <div *ngIf="resetFrom.get('email')?.errors?.['required'] && resetFrom.get('email')?.touched" class="text-danger">
                Email is required.
            </div>
            <div *ngIf="resetFrom.get('email')?.errors?.['email'] && resetFrom.get('email')?.touched" class="text-danger">
                Invalid email format.
            </div>
        </div>
    
        <div class="buttons">
            <button (click)="confirmToReset()"><h3>Recover Password</h3></button>
        </div>
    </div>

    <div class="footer">
        <p>Remembered your password? <a routerLink="/main/ginnisignin">Back to login</a></p>
    </div>
</div>