<div class="containerbox">
    <div class="heading">
        <h1>About Us</h1>
    </div>

    <div class="paragraph">
        <p>Happilo is a health food brand founded in the year 2016, headquartered in Bengaluru. Happilo bring to you an exclusive range of Nuts, dried fruits, seeds, Dry Roasted snacks, trial mixes, festive gift hampers and more. With a wide variety products that cater to every taste and age group, our best sellers have found their way into the homes and hearts of many households.
            <br>
            <br>
            The product innovations over the years and production volumes were made possible with our automated manufacturing unit at yeshwantpur – Bengaluru. Gourmet brand Happilo is available across all leading Modern Retail and General Trades. and is also one of the most popular FMCG brands searched for on e-commerce sites.
            <br>
            <br>
            We now have a wide range of distribution network across India with more than 200+ Channels partners to cover the entire length and width of the Nation, coupled with our ability to capitalize on quality, food safety, great taste and other health benefits of nuts, more growth can surely be expected. We will continue reaching out to wider base of customer across the Asia and continue developing more exciting products for everyone in the coming years.
            <br>
            <br>
            With our customers’ changing tastes, we experimented with new products to offer something innovative and healthy. This resulted in our Trial mix series, Healthy seeds, and most recently our snack packs which are a perfect substitute to all the junk food available in the market. New products, aggressive strategies and listening to the customer requirements are the most important factors for our growth story.
        </p>
    </div>
</div>