<!-- <p>navbar works!</p> -->

<div class="border-bottom" style="background-color: rgb(225, 225, 225);">

    <div class=" py-1" style="background-color: rgb(150, 100, 150);">
      <div class="container" >
        <div class="row">
          <div class="col-md-6 col-12 text-center text-md-start" style="color: rgb(255, 255, 255);">
            <span> Use Code "GINNIS" for Free shipping for orders over INR 1500</span>
          </div>       
        </div>
      </div>
    </div>

    <div class="py-4 pt-lg-3 pb-lg-0" >
      <div class="container">
        <div class="row w-100 align-items-center gx-lg-2 gx-0">
          
          <div class="col-xxl-2 col-lg-2" style="background-color: rgb(250, 200, 200);">
            <a class="navbar-brand d-none d-lg-block" href="../../index.html">
              <img src="../../assets/images/logo/freshcart-logo.jpeg" height="100" width="180" alt="GINNI DryFruits">
            </a> 
          </div>


          <div class="col-xxl-6 col-lg-5 d-none d-lg-block">
            <form action="#">
              <div class="input-group ">
                <input class="form-control" type="search" placeholder="Search for products">
                <span class="input-group-append">
                  <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-search">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </span>
              </div>
            </form>
          </div>
          
          <div class="col-md-2 col-xxl-1 text-end d-none d-lg-block" >
            <div class="list-inline" >

              <div class="list-inline-item" style="background-color: rgb(250, 200, 200);">
                <a href="../../pages/shop-wishlist.html" class="text-muted position-relative">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                  </svg>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                    5
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
              </div>

              <!-- <div class="list-inline-item">
                <a href="#!" class="text-muted" data-bs-toggle="modal" data-bs-target="#userModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </a>
              </div> -->
              
              <div class="list-inline-item" style="background-color: rgb(250, 200, 200);">
                <a class="text-muted position-relative " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  href="#offcanvasExample" role="button" aria-controls="offcanvasRight">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-shopping-bag">
                    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <path d="M16 10a4 4 0 0 1-8 0"></path>
                  </svg>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                    1
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
              </div>

              <div>
                <a href="">Login/</a>
                <a href="">Signup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  


</div>
