<div class="containerbox">
    <div class="heading">
        <h1><b>RETURN & REFUND POLICY</b></h1>
    </div>

    <div class="paragraph">
        <br>
        <h4><b>Terms and conditions:</b></h4>
        <br>
        <ul>
            <li>You are permitted to return products purchased from www.happilo.com, subject to valid reasons accepted by the customer service team.</li>
            <br>
            <li>A refund may be obtained for products purchased, subject to certain conditions.</li>
            <br>
            <li>You may cancel orders for products purchased by you before the order ships out.</li>
        </ul>
        <p>It is important to note while the Company makes best efforts to ensure that returns, refunds and cancellations are available to the users of the Website, the Company has to place certain restrictions on the same in order to meet its business, legal and contractual obligations.
        </p>
  
        
        <br>
        <br>
        <h4><b>Reasons for returns:</b></h4>
        <br>
        <ul>
            <li>You receive a damaged, expired, faulty or defective product.</li>
            <br>
            <li>You receive a product that is different from what you ordered.</li>
        </ul>


        <br>
        <br>
        <h4><b>Conditions for returning products:</b></h4>
        <br>
        <ul>
            <li>Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.</li>
            <br>
            <li>The products must be returned in the original condition in which they were received, along with the original invoice.</li>
            <br>
            <li>Products must be in their original form and packaging.</li>
            <br>
            <li>Brand packaging should be intact.</li>
            <br>
            <li>Replacement of a product will be subject to availability of the product on the website at that time.</li>
        </ul>
        <p>To raise a refund / return claim, please send an email to carehappilo.com. Your email must contain name of the product, the order ID, images of the product received with Batch ID clearly visible, along with a detailed description of the nature of
        </p>
        

        <br>
        <br>
        <h4><b>Refund:</b></h4>
        <br>
        <ul>
            <li>Once we receive the product, we will inspect it and notify receipt of the returned item on the email address provided by you while placing the order. After inspection of the product, we will notify you on the status of your refund via phone call / email.</li>
            <br>
            <li>If you have paid by net banking / credit card / debit card, we will initiate a refund request to our Payment Gateway Partners within five working days of the approval of your return. Once the request has been processed, the amount will be transferred back to your account / card account within 14 working days or per the timelines of the Payment Gateway / Bank.</li>
            <br>
            <li>If you have paid by Cash on delivery (COD), kindly share your bank statement copy / cancelled cheque / passbook copy with bank and customer details mentioned on it. Refund will be processed within three working days of the approval of your return.</li>
        </ul>
        

        <br>
        <br>
        <h4><b>Late or missing refunds (if applicable)</b></h4>
        <br>
        <p>If you haven’t received a refund yet, first check your bank account again.
            <br>
            <br>
            Then contact your credit card company, it may take some time before your refund officially reflects.
            <br>
            <br>
            Next contact your bank. There is often some processing time before a refund reflects in your account.
            <br>
            <br>
            If you’ve done all of this and you still have not received your refund yet, please contact us at carehappilo.com.
            <br>
        </p>
        <br>
        <br>
        <br>


        