<p>testimonial works!</p>
<div class="row">
    <div class="col-lg-6">
        <div class="card bg-light-warning border-0">
            <div class="card-body p-5">
                <h6>The Best Grocery Store Design</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipis
                    cing elit. Curabitur iaculis maximus purus, a
                    gravida dui tempor eget.</p>
                <div class="d-flex align-items-center">
                    <div>
                        <img src="../../assets/images/avatar/avatar-1.jpg"
                            alt=""
                            class="avatar avatar-md rounded-circle" />
                    </div>
                    <div class="ms-3 lh-1">
                        <h6 class="mb-0">Alishia Jones</h6>
                        <small>Sales Manager</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    