
<div class="containerbox">
    <div class="upper">
        <div class="upperleft">
            <h3>Best Sellers</h3>
        </div>

        <div class="upperright">
            <button type="submit" routerLink="/collections/bestsellers">View All</button>
        </div>
    </div>

    <div class="lower">
        <div class="almond" *ngFor = "let item of productlist">
            <div class="image">
                <div class="saving">
                    <!-- <h6>Save Rs. {{ item.discount }}</h6> -->
                    <!-- <h6>{{ item.subcategory }}</h6> -->
                </div>
                <img [src]="'../../assets/images/product_Images/' + item.productName + 1 +'.jpg'" alt="GINNI">
            </div>
            <!-- <br> -->
            <div class="naming">
                <a [routerLink]="['/mainproduct', item.productName]"><h6>{{ item.productName | titlecase}} ({{item.weight}})</h6></a>
            </div>
            <!-- <br> -->

            <div class="rating">
                <div class="star-rating">
                    <i *ngFor="let star of stars; let i = index"
                        class="fa"
                        [ngClass]="{
                        'fa-star': item.rating >= i + 1,
                        'fa-star-half-o': item.rating > i && item.rating < i + 1,
                        'fa-star-o': item.rating < i + 1
                        }">
                    </i>
                  </div>
                <h6>{{ item.rating | number:'1.1-1' }}</h6>
                <p>({{item.userRating}})</p>
            </div>

            <div class="pricing">
                <h5>&#8377; {{ item.price }}</h5>
                <p> &#x20B9; {{item.price - item.discount}} </p>
                <h6>{{ (item.discount / item.price) * 100 | number:'1.0-0' }}% off</h6>
            </div>

           
        
            <div class="carting">
                <!-- <button (click)="addtocart(item)">Add to Cart</button> -->
                <button *ngIf="item.status === 'instock'" (click)="addToCart(item)">Add to Cart</button>
                <button *ngIf="item.status === 'outofstock'" disabled>Sold Out</button>
            </div>
        </div>    
    </div>
</div>