
<div class="containerbox">
    <div class="upper">
        <div class="upperleft">
            <h3>Best Sellers</h3>
        </div>

        <div class="upperright">
            <button type="submit" routerLink="/collections/bestsellers">View All</button>
        </div>
    </div>

    <div class="lower">
        <div class="almond" *ngFor="let item of productlist">
          
          <div class="image">
            <!-- Show shimmer effect when data is loading -->
            <div *ngIf="isLoading" class="shimmer skeleton-image"></div>
            
            <!-- Show image when data is loaded -->
            <img *ngIf="!isLoading" [src]="'../../assets/images/product_Images/' + item.productName + 1 + '.jpg'" alt="GINNI">
          </div>
      
          <div class="naming">
            <div *ngIf="isLoading" class="shimmer skeleton-text"></div>

            <a *ngIf="!isLoading" [routerLink]="['/mainproduct', item.productName]">
              <h6>{{ item.productName | titlecase }} ({{item.weight}})</h6>
            </a>
          </div>
      
          <div class="pricing" >
            <div *ngIf="isLoading" class="shimmer skeleton-text"></div>

            <h5 *ngIf="!isLoading">&#8377; {{ item.offerPrice }}</h5>
            <p *ngIf="!isLoading"> &#x20B9; {{item.mrpPrice}} </p>
            <h6 *ngIf="!isLoading">{{ item.discountPercent }}% off</h6>
          </div>
          
      
          <div class="carting">
            <div *ngIf="isLoading" class="shimmer skeleton-text"></div>

            <button *ngIf="!isLoading && item.stock === 'instock'" (click)="addToCart(item)">Add to Cart</button>
            <button *ngIf="!isLoading && item.stock === 'outofstock'" disabled>Sold Out</button>
          </div>
      
        </div>
      </div>
      
</div>