
<div class="containerbox">
    <div class="upper">
        <div class="upperleft">
            <h3>All Products</h3>
        </div>

        <div class="upperright">
            <button type="submit">View All</button>
        </div>
    </div>

    <div class="lower">
        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6>{{ item.save }}</h6>
                    <h6>{{ item.variety }}</h6>
                </div>
                <img src="../../assets/images/logo/almond.jpeg" alt="Almond">               
            </div>
        
            <div class="naming">
                <a href="#">{{ item.name }}</a>
            </div>
        
            <div class="pricing">
                <h6>{{ item.price }}</h6>
            </div>
        
            <div class="carting">
                <button (click)="addtocart(item)">Add to Cart</button>
            </div>
        </div>
        

        <div class="cashew">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/cashew.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Cashew </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="walnut">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/walnut.jpeg"  alt="walnut">               
            </div>

            <div class="naming">
                <a href="#">Walnut </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="raisin">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/raisin.jpeg"  alt="Raisin">               
            </div>

            <div class="naming">
                <a href="#">Raisin </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>


        <div class="pista">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/pista.jpeg"  alt="Pista">               
            </div>

            <div class="naming">
                <a href="#">Pista </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>
    </div>
</div>