
<div class="containerbox">
    <div class="upper">
        <div class="upperleft">
            <h3>Our Best Seller</h3>
        </div>

        <div class="upperright">
            <button type="submit">View All</button>
        </div>
    </div>

    <div class="lower">
        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="cashew">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="walnut">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="raisin">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="dates">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Dates</a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="pista">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Pista </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>
    </div>
</div>