<div class="containerbox">
    <div class="heading">
        <h1><b>SHIPPING  POLICY</b></h1>
    </div>

    <div class="paragraph">
        <br>
        <br>
        <h4><b>1. General Information:</b></h4>
        <br>
        <p>All orders are subject to product availability. If an item is not in stock at the time you place your order, we will notify you and refund you the total amount of your order, using the original method of payment.
            <br>
            There may be a possibility of multiple shipments for a single placed order in case any issue was to arise on delivery while trying to meet the timing demands of the customer as well as to fulfil the customer’s complete order. These may happen in the cases of: Late stock arrival after original order dispatch, Return and exchange of items and re-sending new items, missing items from the original dispatched order being re-sent, or for carrying goods requiring different storage conditions within different vans.
            <br>
            Orders that are altered/changed after checkout and payment on the website, for reasons including; No stock availability on date of dispatch, Return of goods, exchange of goods, leading for multiple shipments may result in multiple postings to the cardholders monthly statement.
        </p>
  
        
        <br>
        <br>
        <h4><b>2. Delivery Location:</b></h4>
        <br>
        <p>Items offered on our website are only available for delivery to addresses in Bangalore, Chennai, Mumbai, Cochin, Thiruvananthapuram, Hyderabad & Pondicherry within the specific areas that are listed in the drop down Stores address menu, Within 2 - 4 hours (upto 10kms from our nearest outlets between 10 am to 5.30 pm) we will deliver the products. Any shipments outside of these areas will take 3 - 5 working days within India.
            <br>
            An estimated delivery time will be provided to you once your order is placed. Delivery times are estimates and commence from the date of shipping, rather than the date of order. Delivery times are to be used as a guide only and are subject to the acceptance and approval of your order.
        </p>


        <br>
        <br>
        <h4><b>3. Delivery Time:</b></h4>
        <br>
        <p>An estimated delivery time will be provided to you once your order is placed. Delivery times are estimates and commence from the date of shipping, rather than the date of order. Delivery times are to be used as a guide only and are subject to the acceptance and approval of your order.
            <br>
            Unless there are exceptional circumstances, we make every effort to fulfil your order within 2 - 4 hours (upto 10kms from our nearest outlets) of the expected arrival time of your order.
            <br>
            Date of delivery may vary due to reaching our daily order limit or due to specific items ordered. Products may also, in rare circumstances be delivered in separate shipments.
        </p>
        
        <br>
        <br>
        <h4><b>4. Delivery Instructions:</b></h4>
        <br>
        <p>You can provide special delivery instructions on the check-out page of our website.
        </p>
        

        <br>
        <br>
        <h4><b>5. Delivery Charges (PAN INDIA):</b></h4>
        <br>
        <p>Express Shipping (PREPAID Orders Only- 48 Hour Delivery) - ₹200/-
            <br>
            Standard Shipping (6-10 days delivery)
            <br>
            Orders Below Rs. 500 - delivery ₹120/-
            Order between Rs. 500 to Rs. 1000 - delivery ₹150/-
            <br>
            Note: Standard Shipment Charges are applicable on South, North & West Region. East Region will be having separate shipment charges depending upon the location. 
            <br>
            Please note all delivery charges may vary depending on the location.
            <br>
            Bangalore, Chennai, Mumbai, Cochin, Thiruvananthapuram, Hyderabad & Pondicherry Outside of these City Delivery would be depends on weight.
        </p>


        <br>
        <br>
        <h4><b>6. Damaged Items in Transport:</b></h4>
        <br>
        <p>If there is any damage to the packaging on delivery, contact us immediately at our customer service number and provide a picture of the damaged product within 24 hours of delivery.
        </p>
        
        <br>
        <br>
        <h4><b>7. Tracking / Delivery Issues:</b></h4>
        <br>
        <p>If you have any questions about the delivery and shipment or your order, please email us at customercareajfan.in or call us at +917034900009 
        </p>
        
        
        <br>
        <br>
        <h4><b>8. To Raise a Complaint:</b></h4>
        <br>
        <p>If you have any complaints about the product/items of your order, please call or Whatsapp us at +917022022120
        </p>
        
        