<div class="containerbox" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
    <div class="containerhead">
        <h1>What Our Customer Says</h1>
    </div>

    <div class="containericon">
        <i class="fa fa-quote-left"></i>
    </div>

    <br>
    <div class="containerimage" #sliderContainer>
        <div class="images-wrapper" 
             [class.transitioning]="transitioning" 
             *ngFor="let image of images; let i = index" 
             [ngStyle]="{ 'display': currentIndex === i ? 'block' : 'none' }">
            <img [src]="image" alt="Slide {{i+1}}">
        </div>
    </div>
</div>
