.containerbox {
    width: 75%;
    height: fit-content;
    padding: auto;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerhead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containericon {
  font-size: xx-large; 
  color: rgb(167, 163, 157);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerimage {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .images-wrapper {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease; /* Smooth transition effect */

  }
  
  .images-wrapper img {
    width: 100%;
  }

  .images-wrapper.transitioning {
    transition: none; /* Disable transition when transitioning */
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  

@media (max-width: 1080px) {
  .containerbox {
    width: 80%;
  }

  .containerhead h1 {
    font-size: x-large;
  }

  .containericon {
    font-size: x-large;
  }

}


@media (max-width: 720px) {
  .containerbox {
    width: 85%;
  }

  .containerhead h1 {
    font-size: larger;
  }

  .containericon {
    font-size: larger;
  }
    
}


/* Responsive Styles */
@media (max-width: 480px) {
  .containerbox {
    width: 90%;
  }

  .containerhead h1 {
    font-size: large;
  }

  .containericon {
    font-size: large;
  }
}