<!-- <p>ginnioffer works!</p> -->
<div class="containerbox">

    <div class="offertop">
        <h5 id="offer">Get 8% Discount on Purchase of 899 and Above With Code "SAVER8"</h5>
    </div>

    <div class="ginninavbar">
        <div class="navbarimage">
            <a class="logo" href="../../index.html">
                <img src="../../assets/images/logo/freshcart-logo.jpeg" height="150 rem" width="150" alt="GINNI DryFruits">
            </a> 
        </div>
        
        <div class="navbardata">
            <div class="navbarupper">
                <div class="search-container">
                    <div class="searchbox">
                        <input type="text" placeholder="Search for DryFruits..." class="search-bar" >
                        <!-- <i class="fa fa-search search-icon" aria-hidden="true"></i>  -->
                        <button class="btn btn-outline-success" type="submit">Search </button>
                    </div>
                </div>  
                
                <div class="navbarupperright">   
                    <div class="items">
                        <div class="wishlist">
                            <i class="fa fa-heart" style="font-size: x-large;"></i>
                            <!-- <h6>Wishlists</h6> -->
                        </div>
                    
                        <div class="cart">
                            <i class="fa fa-shopping-cart" style="font-size: x-large;"></i>
                            <!-- <h6>Cart</h6> -->
                        </div>

                        <div class="cart">
                            <i class="fa fa-truck" style="font-size: x-large;"></i>
                            <!-- <h6>Track Order</h6> -->
                        </div>
                    </div>  

                    <div class="account">
                        <p>Login / Signup</p>
                        <h5>My Account <i class="fa fa-angle-down" style="font-size: large; margin-left: 5px;"></i></h5>
                    </div>
                </div>
                
            </div>


            <div class="navbarlower">
                <div class="home">
                    <a href="#"><h5>Home</h5></a>
                </div>

                <div class="aboutUs">
                    <a href="#"><h5>AboutUs</h5></a>
                </div>

                <div class="seller">
                    <a href="#"><h5>Seller</h5></a>
                </div>

                <div class="categories">
                    <a href="#"><h5>Categories</h5></a>
                </div>

                <div class="combos">
                    <a href="#"><h5>Combos</h5></a>
                </div>
            </div>
        </div>
    </div>

</div>