<!-- <p>ginnioffer works!</p> -->
<div class="containerbox">

    <!-- <div class="couponstick">
        <h6 id="coupon">Get 8% Discount on Purchase of 899 and Above With Code "SAVER8"</h6>
    </div> -->

    <!-- <div class="navbar">
        <div class="navbarimage">
            <a class="logo" href="../../index.html">
                <img src="../../assets/images/logo/freshcart-logo.jpeg" height="200" width="200" alt="GINNI DryFruits">
            </a> 
        </div>
        
        <div class="navbardata">
            <div class="navbarupper">

            </div>


            <div class="navbarlower">

            </div>
        </div>
    </div> -->

</div>