<div class="containerbox">
    <div class="text">
        <h2>STORING YOUR FAVOURITE DATES, DRY FRUITS AND NUTS!</h2>
        <hr>
        <p>For immediate usage, store these products in airtight containers at cool, dark spot reducing the exposure of light, oxygen and moisture.
            <br>
            <br>
            <!-- Do not expose to heat as it may go rancid or create grounds for soft bodied animals.
            <br>
            <br> -->
            For longer user, keep it refrigerated giving it the right taste and more flavourful vibrant to these tasteful Products.
        </p>
    </div>

    <div class="image">
        <img src="../../assets/images/slider/1ch.png">
    </div>
</div>