<p>ginniotp works!</p>
<div class="containerbox">

    <form [formGroup]="otpForm" (ngSubmit)="OtpForm()">

        <div class="form-group">
            <label for="email">Email OTP:</label>
            <input type="text" id="emailOtp" formControlName="emailOtp" class="form-control" placeholder="Email OTP">
            <div *ngIf="otpForm.get('emailOtp')?.errors?.['required'] && otpForm.get('emailOtp')?.touched" class="text-danger">
                Email is required.
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="mobile">Mobile OTP:</label>
            <input type="text" id="mobileOtp" formControlName="mobileOtp" class="form-control" placeholder="Mobile OTP">
            <div *ngIf="otpForm.get('mobileOtp')?.errors?.['required'] && otpForm.get('mobileOtp')?.touched" class="text-danger">
                mobile is required.
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="otpForm.invalid">Submit OTP</button>
    </form>

    <!-- <div class="form-group">
        <p>Please Enter the OTP from you Email - </p>
        <input type="text" placeholder="Email OTP">
    </div>

    <div class="form-group">
        <p>Please Enter the OTP from you Mobile - </p>
        <input type="text" placeholder="Mobile OTP">
    </div> -->
</div>