<div class="containerbox">
    <div class="header">
        <h4>My Cart</h4>
    </div>

    <div class="middle">
        <div class="middleleft">
            <div class="middlelefttop">
                <div class="middlelefttopproduct">
                    <h6>Product</h6>
                </div>

                <div class="middlelefttopcombine">
                    <h6>Quantity</h6>
                    <h6>Total</h6>
                </div>
            </div>

            <div class="middleleftmain">
                <div class="middleleftmainproduct">
                    <div class="middleleftmainproductimages">
                        <img src="../../assets/images/logo/freshcart-logo.jpeg" alt="" style="height: 50px; width: 50px;">
                    </div>

                    <div class="middleleftmainproductnaming">
                        <div class="middleleftmainproductname">
                            <a href="#">sadfdsfdssddsfsfsd</a>
                        </div>

                        <div class="middleleftmainproductprice">
                            <p>Rs. 1000</p>
                            <p><del>Rs. 2000</del></p>
                        </div>
                    </div>
                </div>

                <div class="middleleftmaincombine">
                    <div class="middleleftmainquantity">
                        <div class="middleleftmainquantityincrement">
                            <i class="fa fa-minus" ></i>
                            <h6>1</h6>
                            <i class="fa fa-plus"></i>
                        </div>

                        <div class="middleleftmainquantityremove">
                            <a href="">Remove</a>
                        </div>
                    </div>

                    <div class="middleleftmaintotal">
                        <h6>Rs. 1000</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="middleright">
            <div class="middlerighttop">
                <div class="middlerighttoptotal">
                    <h6>Total</h6>
                    <h6>Rs. {{1000}}</h6>
                </div>

                <div class="middlerighttopsave">
                    <h6>You saved Rs. {{456}} !</h6>
                </div>
            </div>

            <div class="middlerightmain">
                <p>Tax included. Discounts can be applied at checkout</p>
            </div>

            <div class="middlerightbottom">
                <button type="submit">Checkout</button>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footertop">
            <h5>Recently Reviewed</h5>
        </div>

        <div class="footerbottom">
            <div class="almond">
                <div class="image">
                    <div class="saving">
                        <h6 id="save">Save Rs 2</h6>
                        <h6 id="variety">Best seller</h6>
                    </div>
                    <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
                </div>
    
                <div class="naming">
                    <a href="#">Almond </a>
                </div>
    
                <div class="pricing">
                    <h6>From Rs 1000</h6>
                </div>
    
                <div class="carting">
                    <button type="submit">Add to Cart</button>
                </div>
            </div>
    
            <div class="cashew">
                <div class="image">
                    <div class="saving">
                        <h6 id="save">Save Rs 2</h6>
                        <h6 id="variety">Best seller</h6>
                    </div>
                    <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
                </div>
    
                <div class="naming">
                    <a href="#">Almond </a>
                </div>
    
                <div class="pricing">
                    <h6>From Rs 1000</h6>
                </div>
    
                <div class="carting">
                    <button type="submit">Add to Cart</button>
                </div>
            </div>
    
            <div class="walnut">
                <div class="image">
                    <div class="saving">
                        <h6 id="save">Save Rs 2</h6>
                        <h6 id="variety">Best seller</h6>
                    </div>
                    <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
                </div>
    
                <div class="naming">
                    <a href="#">Almond </a>
                </div>
    
                <div class="pricing">
                    <h6>From Rs 1000</h6>
                </div>
    
                <div class="carting">
                    <button type="submit">Add to Cart</button>
                </div>
            </div>
    
            <div class="raisin">
                <div class="image">
                    <div class="saving">
                        <h6 id="save">Save Rs 2</h6>
                        <h6 id="variety">Best seller</h6>
                    </div>
                    <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
                </div>
    
                <div class="naming">
                    <a href="#">Almond </a>
                </div>
    
                <div class="pricing">
                    <h6>From Rs 1000</h6>
                </div>
    
                <div class="carting">
                    <button type="submit">Add to Cart</button>
                </div>
            </div>
    
            <div class="dates">
                <div class="image">
                    <div class="saving">
                        <h6 id="save">Save Rs 2</h6>
                        <h6 id="variety">Best seller</h6>
                    </div>
                    <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
                </div>
    
                <div class="naming">
                    <a href="#">Dates</a>
                </div>
    
                <div class="pricing">
                    <h6>From Rs 1000</h6>
                </div>
    
                <div class="carting">
                    <button type="submit">Add to Cart</button>
                </div>
            </div>
    
            <div class="pista">
                <div class="image">
                    <div class="saving">
                        <h6 id="save">Save Rs 2</h6>
                        <h6 id="variety">Best seller</h6>
                    </div>
                    <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
                </div>
    
                <div class="naming">
                    <a href="#">Pista </a>
                </div>
    
                <div class="pricing">
                    <h6>From Rs 1000</h6>
                </div>
    
                <div class="carting">
                    <button type="submit">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>