<div class="containerbox">
     <!-- Check if cart has items -->
     <ng-container *ngIf="products.length > 0; else emptyCart">
        <div class="header">
            <h1>My Cart</h1>
            <button (click)="removeAllItem()"><h5>Empty Cart</h5></button>
        </div>

        <div class="middle">
            <div class="middleleft">
                <div class="middlelefttop">
                    <div class="middlelefttopproduct">
                        <h6>Product</h6>
                    </div>
    
                    <div class="middlelefttopcombine">
                        <h6>Quantity</h6>
                        <h6>Total</h6>
                        <h6>Action</h6>
                    </div>
                </div>
    
                <div class="middleleftmain" *ngFor="let item of products; let i = index">
                    <div class="middleleftmainproduct">
                        <div class="middleleftmainproductimages">
                            <img [src]="'../../assets/images/product_Images/' + item.productName  +1+ '.jpg'" alt="GINNI">
                        </div>
    
                        <div class="middleleftmainproductnaming">
                            <div class="middleleftmainproductname">
                                <a  [routerLink]="['/mainproduct', item.productName]"><h5>{{item.productName | titlecase}}</h5></a>
                            </div>

                            <div class="rating">
                                <div class="star-rating">
                                    <i *ngFor="let star of stars; let i = index"
                                        class="fa"
                                        [ngClass]="{
                                        'fa-star': item.itemRating >= i + 1,
                                        'fa-star-half-o': item.itemRating > i && item.itemRating < i + 1,
                                        'fa-star-o': item.itemRating < i + 1
                                        }">
                                    </i>
                                  </div>
                                <h6>{{ item.itemRating | number:'1.1-1' }}</h6>
                                <p>({{item.itemUserRating}})</p>
                            </div>
    
                            <div class="middleleftmainproductprice">
                                <h5> &#x20B9; {{item.itemDiscountedPrice}} </h5>
                                <h6> &#x20B9; {{item.itemPrice}}</h6>
                                <p>{{ (item.itemDiscount / item.itemPrice) * 100 | number:'1.0-0' }}% off</p>
                            </div>

                            
                        </div>
                    </div>
    
                    <div class="middleleftmaincombine">
                        <div class="middleleftmainquantity">
                            <div class="middleleftmainquantityincrement">
                                <h1 (click)="decrementQuantity(item)" ><b>-</b></h1>
                                <h6> {{item.itemQuantity}} </h6>
                                <h1 (click)="incrementQuantity(item)" ><b>+</b></h1>
                            </div>
    
                            <!-- <div class="middleleftmainquantityremove">
                                <a (click)="removeCartItem(item)" style="text-decoration: underline; cursor: pointer;">Remove</a>
                            </div> -->
                        </div>
    
                        <div class="middleleftmaintotal">
                            <h6> &#x20B9; {{item.itemTotalPrice}}</h6>
                        </div>
    
                        <div class="middleleftmainaction">
                            <button (click)="initiatesPayment(item.productId, item.itemTotalPrice)">Buy Now</button>
                            <button (click)="removeCartItem(item)">Remove</button> 
                            <!-- <button (click)="addToWishlistAndRemoveFromCart(item)">Add to Wishlist</button> -->
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="middleright">
                <div class="middlerighttop">
                    <div class="middlerighttoptotal">
                        <h6>Total</h6>
                        <h6>&#x20B9;  {{ getTotalPrice() }}</h6>
                    </div>
    
                    <div class="middlerighttopsave">
                        <h6>You saved &#x20B9;  {{getDiscountPrice()}} !</h6>
                    </div>
                </div>
    
                <div class="middlerightmain">
                    <p>Tax included. Discounts can be applied at checkout</p>
                </div>
    
                <div class="middlerightbottom">
                    <button (click)="initiatePayment()"><h4>Checkout</h4></button>
                </div>
            </div>
        </div>
    </ng-container>



    
    <!-- Empty cart message -->
    <ng-template #emptyCart>
        <div class="empty-cart">
            <img src="../../assets/images/png/emptycart.png" alt="Cart Icon">
            <p>Oops! Your cart is empty!</p>
            <p>Looks like you have not added anything in your cart.</p>
            <button routerLink="/collections/dryfruit">Shop Now</button>
        </div>
    </ng-template>
   

    <!-- <div class="footer">
        <div class="footertop">
            <h5>BestSellers</h5>
        </div>

        <div class="footerbottom">
            <div class="almond" *ngFor = "let item of productlist">
                <div class="image">
                    <div class="saving">
                        <h6>{{ item.discount }}</h6>
                        <i class="fa fa-heart-o" (click)="addToWishlist(item)"    *ngIf="!item.wishlistStatus"  style="font-size:24px" ></i>
                        <i class="fa fa-heart" (click)="removeToWishlist(item)"   *ngIf="item.wishlistStatus"  style="font-size:24px"></i>
                    </div>
                    <img [src]= "item.imageData" alt="GINNI">               
                </div>
            
                <div class="naming">
                    <a href=""><h5>{{ item.productName }}</h5></a>
                </div>
            
                <div class="pricing">
                    <h5>Rs {{ item.price }}</h5>
                </div>
            
                <div class="carting">
                    <button (click)="addToCart(item)">Add to Cart</button>
                </div>
            </div>     

        </div>
    </div> -->
</div>