<div class="containerbox">
    <div class="footerupper">
        <div class="aboutourstore">
            <div class="shopicon">
                <img src="../../assets/images/logo/freshcart-logo.jpeg" height="100" width="150" alt="Ginni DryFruits">
            </div>

            <div class="address">
                <br>
                <p>Hariram Market Shop No. 4, 
                    <br>Near Petrol Pump Mainp
                    <br> Central Market-301019.
                </p>
            </div>
        </div>

        <div class="termsandpolicy">
            <h4>Terms & Policies</h4>
            <ul>
                <li><a routerLink="/main/ginnitermservice" >Terms and Conditions</a></li>
                <li><a routerLink="/main/ginniprivacypolicy">Privacy Policy</a></li>
                <li><a routerLink="/main/ginnishippingpolicy">Shipping Policy</a></li>
                <li><a routerLink="/main/ginnireturnpolicy">Return Policy</a></li>
                <!-- <li><a routerLink="/refund-policy">Refund Policy</a></li> -->
              </ul>
              
        </div>

        <div class="information">
            <h4>Information</h4>
            <ul>
                <li><a routerLink="/main/ginniaboutus">About Us</a></li>
                <li><a routerLink="/main/ginnicontactus">Contact Us</a></li>
                <!-- <li><a routerLink="/main/ginniaboutus">Bulk Orders</a></li> -->
                <!-- <li><a routerLink="/main/ginniaboutus">Contact Information</a></li> -->
            </ul>
        </div>

        <div class="allproducts">
            <h4>All Products</h4>
            <ul>
                <li><a routerLink="/main/ginnidryfruit">Dry Fruits</a></li>
                <!-- <li><a routerLink="/main/ginnidryfruit">Seeds</a></li> -->
                <li><a routerLink="/main/ginnicombos">Combos</a></li>
                <li><a routerLink="/main/ginnigiftings">Giftings</a></li>
                <li><a routerLink="/main/ginnibestsellers">BestSellers</a></li>
            </ul>
        </div>
    </div>

    <div class="footermiddle">
        <div class="heading">
            <h4>We Accept</h4>
        </div>

        <div class="payment">
            <ul>               
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
                <li><i class="fa fa-google-pay"></i></li>
                <li><i class="fa fa-amazon-pay"></i></li>
            </ul>
        </div>
    </div>

    <div class="footerlower">
        <div class="copyright">
            <p> &copy; 2024 Ginni DryFruits. All Rights Reserved</p>
        </div>

        <div class="followuson">
            <div class="follow">
                <h5>Follow Us On </h5>
            </div>

            <div class="socialmedia">
                <ul>
                    <a href="https://www.instagram.com/your_instagram_account/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/your_facebook_account/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/your_twitter_account/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/your_linkedin_account/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/@AayushAgarwal-qo8tx"><i class="fa fa-youtube"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>