<div class="containerbox">
    <div class="footerupper">
        <div class="aboutourstore">
            <div class="shopicon">
                <img src="../../assets/images/logo/freshcart-logo.jpeg" height="100" width="150" alt="Ginni DryFruits">
            </div>

            <div class="address">
                <P>Hariram Market Shop No. 4, <br>Near Petrol Pump Main Road Bhiwadi, Sohna Road,<br> Central Market-301019.</P>
            </div>
        </div>

        <div class="termsandpolicy">
            <h4>Terms & Policies</h4>
            <ul>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Shipping Policy</a></li>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Refund Policy</a></li>
            </ul>
        </div>

        <div class="information">
            <h4>Information</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Bulk Orders</a></li>
                <li><a href="#">Contact Information</a></li>
            </ul>
        </div>

        <div class="allproducts">
            <h4>All Products</h4>
            <ul>
                <li><a href="#">Dry Fruits</a></li>
                <li><a href="#">Seeds</a></li>
                <li><a href="#">Combos</a></li>
                <li><a href="#">Giftings</a></li>
            </ul>
        </div>
    </div>

    <div class="footermiddle">
        <div class="heading">
            <h4>We Accept</h4>
        </div>

        <div class="payment">
            <ul>               
                <li><i class="fab fa-cc-visa"></i></li>
                <li><i class="fab fa-cc-mastercard"></i></li>
                <li><i class="fab fa-cc-paypal"></i></li>
                <li><i class="fab fa-google-pay"></i></li>
                <li><i class="fab fa-amazon-pay"></i></li>
            </ul>
        </div>
    </div>

    <div class="footerlower">
        <div class="copyright">
            <p> &copy; 2024 Ginni DryFruits. All Rights Reserved</p>
        </div>

        <div class="followuson">
            <div class="follow">
                <h5>Follow Us On </h5>
            </div>

            <div class="socialmedia">
                <ul>
                    <a href="https://www.instagram.com/your_instagram_account/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/your_facebook_account/"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/your_twitter_account/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/your_linkedin_account/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/user/your_youtube_channel/"><i class="fab fa-youtube"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>