<div class="containerbox">
    <div class="footerupper">
        <div class="aboutourstore">
            <div class="shopicon">
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="Ginni DryFruits">
            </div>

            <div class="address">
                <p>Hariram Market Shop No. 4, 
                    <br>Near Petrol Pump Mainp
                    <br> Central Market-301019.
                </p>
            </div>
        </div>

        <div class="termsandpolicy">
            <h4>Terms & Policies</h4>
            <ul>
                <li><a routerLink="/pages/terms-conditions">Terms and Conditions</a></li>
                <li><a routerLink="/pages/privacy-policy">Privacy Policy</a></li>
                <li><a routerLink="/pages/shipping-policy">Shipping Policy</a></li>
                <li><a routerLink="/pages/return-policy">Return Policy</a></li>
            </ul>        
        </div>

        <div class="mobiletermsandpolicy">
            <div class="mobileTnP" (click)="toggleDropdownTnP()">
                <h5>Terms & Policy</h5>
                <i class="fa" [ngClass]="{'fa-angle-down': !isDropdownOpenTnP, 'fa-angle-up': isDropdownOpenTnP}"></i>
            </div>

            <ul class="dropdown-term" #menu *ngIf="isDropdownOpenTnP">
                <li><a routerLink="/pages/terms-conditions">Terms and Conditions</a></li>
                <li><a routerLink="/pages/privacy-policy">Privacy Policy</a></li>
                <li><a routerLink="/pages/shipping-policy">Shipping Policy</a></li>
                <li><a routerLink="/pages/return-policy">Return Policy</a></li>
            </ul>            
        </div>


        <div class="information">
            <h4>Information</h4>
            <ul>
                <li><a routerLink="/pages/about-us">About Us</a></li>
                <li><a routerLink="/pages/contact-us">Contact Us</a></li>
            </ul>
        </div>

        <div class="mobileinformation">
            <div class="mobileInf" (click)="toggleDropdownInf()">
                <h5>Information</h5>
                <i class="fa" [ngClass]="{'fa-angle-down': !isDropdownOpenInf, 'fa-angle-up': isDropdownOpenInf}"></i>
            </div>
            <ul *ngIf="isDropdownOpenInf" class="dropdown-term">
                <li><a routerLink="/pages/about-us">About Us</a></li>
                <li><a routerLink="/pages/contact-us">Contact Us</a></li>
            </ul>
        </div>



        <div class="allproducts">
            <h4>Products</h4>
            <ul>
                <li><a routerLink="/collections/dryfruit">Dry Fruits</a></li>
                <li><a routerLink="/collections/combos">Combos</a></li>
                <li><a routerLink="/collections/giftings">Giftings</a></li>
                <li><a routerLink="/collections/bestsellers">BestSellers</a></li>
            </ul>
        </div>

        <div class="mobileproducts">
            <div class="mobileProd" (click)="toggleDropdownProduct()">
                <h5>Products</h5>
                <i class="fa" [ngClass]="{'fa-angle-down': !isDropdownOpenProduct, 'fa-angle-up': isDropdownOpenProduct}"></i>
            </div>
            <ul *ngIf="isDropdownOpenProduct" class="dropdown-term">
                <li><a routerLink="/collections/dryfruit">Dry Fruits</a></li>
                <li><a routerLink="/collections/combos">Combos</a></li>
                <li><a routerLink="/collections/giftings">Giftings</a></li>
                <li><a routerLink="/collections/bestsellers">BestSellers</a></li>
            </ul>
        </div>
    </div>

    <div class="footermiddle">
        <div class="heading">
            <h4>We Accept</h4>
        </div>

        <div class="payment">
            <ul>               
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
                <li><i class="fa fa-cc-visa"></i></li>
            </ul>
        </div>
    </div>

    <div class="footerlower">
        <div class="copyright">
            <p> &copy; 2024 Ginni DryFruits. All Rights Reserved</p>
        </div>

        <div class="followuson">
            <div class="follow">
                <h5>Follow Us On </h5>
            </div>

            <div class="socialmedia">
                <ul>
                    <a href="https://www.instagram.com/your_instagram_account/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/your_facebook_account/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/your_twitter_account/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/your_linkedin_account/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/@AayushAgarwal-qo8tx"><i class="fa fa-youtube"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>