<p>textandimage works!</p>
<div class="bg-success" style="background: url(../../assets/images/svg-graphics/pattern.svg) no-repeat; background-size: cover; background-position: center">
<div class="container">
	<!-- row -->
	<div class="row">
		<div class="offset-lg-1 col-lg-10" > 
			<div class="row align-items-center" style="border: .1rem solid ri;">
				<!-- col -->
				<div class="col-md-6" >
					<div class="text-white mt-8 mt-lg-0">
						<span>$30 discount for your first
							order</span>
						<h2 class="h2 text-white my-4">Get top
							deals, latest trends, and more.</h2>
						<p class="text-white-50">Join our email
							subscription now to get updates on
							promotions and coupons.</p>
						<!-- form -->
						<form class="row g-3 needs-validation" novalidate>
							<div class="col-6">
								<!-- input -->
								<label for="emailAddress" class="form-label visually-hidden">Email Address</label>
									<input type="email" class="form-control" id="emailAddress" placeholder="Enter Email Address" required>
									<div class="invalid-feedback">
										Please enter email.
									</div>
							</div>
							<!-- btn -->
							<div class="col-auto">
								<button type="submit" class="btn btn-primary mb-3">Sign Up</button>
							</div>
						</form>
					</div>
				</div>
				<!-- col -->
				<div class="col-md-6">
					<div class="text-center">
						<!-- img -->
						<img src="../../assets/images/png/girl-email.png" alt="" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>