<p>counter works!</p>
<div class="bg-success py-14">
    <div class="container">
       <div class="row">
          <!-- col -->
          <div class="offset-lg-1 col-lg-10">
             <div class="row">
                <!-- col -->
                <div class="col-xl-4 col-md-6">
                   <div class="text-white me-8 mb-12">
                <!-- text -->
              <h2 class="text-white mb-4 ">Trusted by retailers. Loved by customers.</h2>
                <p>We give everyone access to the food they love and more time to enjoy it together.</p>
                   </div>
                </div>
                <div class="row row-cols-2 row-cols-md-4">
                   <!-- col -->
                   <div class="col mb-4 mb-md-0">
                   <h3 class="display-5 fw-bold text-white mb-0">500k</h3>
                   <span class="fs-6 text-white">Shoppers</span>
                   </div>
                   <!-- col -->
                   <div class="col mb-4 mb-md-0">
                   <h3 class="display-5 fw-bold text-white mb-0">4,500+</h3>
                  <span class="fs-6 text-white">Cities</span>
                   </div>
                   <!-- col -->
                   <div class="col mb-4 mb-md-0">
                   <h3 class="display-5 fw-bold text-white mb-0">40k+</h3>
                   <span class="fs-6 text-white">Stores</span>
                   </div>
                   <!-- col -->
                   <div class="col mb-4 mb-md-0">
                   <h3 class="display-5 fw-bold text-white mb-0"> 650+
                   </h3>
                   <span class="fs-6 text-white">Retail Brands</span>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>