<div class="containerbox">
    <div class="header">
        <div class="headertop">
            <h4>All Products</h4>
        </div>

        <div class="headerbottom">
            <p>Showing : {{1}} - {{36}} of 47 products</p>
            <p>Display : {{24}} per page</p>
            <p>Sort by : {{1}}</p>
        </div>
    </div>

    <!-- <div class="middle">
        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>


        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>


        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>


        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="almond">
            <div class="image">
                <div class="saving">
                    <h6 id="save">Save Rs 2</h6>
                    <h6 id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg"  alt="GINNI DryFruits">               
            </div>

            <div class="naming">
                <a href="#">Almond </a>
            </div>

            <div class="pricing">
                <h6>From Rs 1000</h6>
            </div>

            <div class="carting">
                <button type="submit">Add to Cart</button>
            </div>
        </div>
    </div> -->

    <div class="middle">
        <ng-container *ngFor="let row of almondRows">
          <div class="row">
            <div class="almond" *ngFor="let almond of row">
              <div class="image">
                <div class="saving">
                  <h6 id="save">Save Rs 2</h6>
                  <h6 *ngIf="almond.isBestSeller" id="variety">Best seller</h6>
                </div>
                <img src="../../assets/images/logo/freshcart-logo.jpeg" alt="GINNI DryFruits">
              </div>
      
              <div class="naming">
                <a href="#">{{ almond.name }}</a>
              </div>
      
              <div class="pricing">
                <h6>From Rs {{ almond.price }}</h6>
              </div>
      
              <div class="carting">
                <button type="submit">Add to Cart</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      
    

    <div class="footer">
        <div class="pagination">
            <p>pagination</p>
        </div>
    </div>
</div>