<p>create-review works!</p>
<div class="row">
    <div class="col-lg-8">
         <div>
                <!-- rating -->
                <h3 class="mb-5">Create Review</h3>
                <div class="border-bottom py-4 mb-4">
                     <h4 class="mb-3">Overall rating</h4>
                     <div class="rater"></div>
                </div>
                <div class="border-bottom py-4 mb-4">
                     <h4 class="mb-0">Rate Features</h4>
                     <div class="my-5">
                            <h5>Flavor</h5>
                            <div class="rater"></div>
                     </div>
                     <div class="my-5">
                            <h5>Value for money</h5>
                            <div class="rater"></div>
                     </div>
                     <div class="my-5">
                            <h5>Scent</h5>
                            <div class="rater"></div>
                     </div>
                </div>
                <!-- form control -->
                <div class="border-bottom py-4 mb-4">
                     <h5>Add a headline</h5>
                     <input type="text" class="form-control" placeholder="What’s most important to know" />
                </div>
                <div class="border-bottom py-4 mb-4">
                     <h5>Add a photo or video</h5>
             <p>Shoppers find images and videos more helpful than text alone.</p>
             <div id="my-dropzone" class="dropzone mt-4 border-dashed rounded-2 min-h-0"></div>
        </div>
        <div class="py-4 mb-4">
             <!-- heading -->
             <h5>Add a written review</h5>
             <textarea class="form-control" rows="3" placeholder="What did you like or dislike? What did you use this product for?"></textarea>
        </div>
        <!-- button -->
        <div class="d-flex justify-content-end">
     <a href="#" class="btn btn-primary">Submit Review</a>
    </div>
     </div>
    </div>
     </div>