<div class="maincontainer">
  <div class="containerbox">
    <div class="header">
        <h5>Check Product Availability</h5>
        <br>
        <p>Enter your Zipcode and check product availability at your location.</p>
    </div>

    <div class="footer">
        <input type="text" [formControl]="zipCodeFormControl" placeholder="Enter your ZipCode">
        <br>
        <div *ngIf="zipCodeFormControl.hasError('required') && zipCodeFormControl.touched" class="error-message">
          ZipCode is required.
        </div>
        <div *ngIf="zipCodeFormControl.hasError('pattern') && zipCodeFormControl.touched" class="error-message">
          ZipCode must be 6 digits.
        </div>
        <br>
        
        <button type="button" (click)="checkAvailability()" [disabled]="!zipCodeFormControl.valid">Check Availability</button>
        <br>
        <h5 *ngIf="isAvailable !== undefined" style="text-align: center; color: rgb(39, 1, 252);">
          {{ isAvailable ? 'Delivery at this Pin code is available.' : 'Delivery at this Pin code is not available.' }}
        </h5>
      </div>     
</div>
</div>
